<div class="inset-content">
  <div class="product-list">
    <div class="row">
      <div *ngFor="let education of educations" class="col s12 m4 l2">
        <div class="card">
          <div class="card-image" >
            <img class="product-image" [src]="education.image">
          </div>
          <div class="card-content" style="padding:15px;">
            <span class="product-title">{{education.title}}</span>
            <span class="product-category">{{education.field_category}}</span>
          </div>
          <div class="card-content" style="padding-top:0;padding-left:15px;padding-right:15px;">
            <p style="font-size: 13px;">{{getAbstract(education.body)}}</p>
          </div>
          <div class="card-action" style="text-align: right;padding: 15px;padding-top: 7px; padding-bottom: 7px;">
            <a [routerLink]="['details', education.id]" style="text-transform: uppercase;margin-right: 0;">{{education.field_cost}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
