<div class="inset-content">
<div class="product-list">
<div class="row">
    <div *ngFor="let education of educations | async" class="col s12 m4 l2">
            <div class="card" >
            <div class="card-image" >
            <img class="product-image" src="http://lorempixel.com/160/200/technics">
            </div>
            <div class="card-content">
                <span class="product-title"><a [routerLink]="['edudetails', education.nid]" style="text-transform: uppercase;margin-right: 0;">{{education.title}}</a></span>
                <span class="product-category">{{education.type}}</span>
            </div>
        </div>
    </div>
</div>
</div>
</div>