<div class="inset-content">
  <div class="product-list">
    <div class="row">
      <div *ngFor="let guide of guides | async | slice:1" class="col s12 m4 l2">
        <div class="card">
          <div class="card-image" >
            <img class="product-image" src="../assets/edu1.png">
          </div>
          <div class="card-content" style="padding:15px;">
            <span class="product-title"><a [routerLink]="['guidedetails', guide.nid]" style="text-transform: uppercase;margin-right: 0;">{{guide.title}}</a></span>
            <span class="product-category">{{guide.type}}</span>
          </div>
          <!--<div class="card-content" style="padding-top:0;padding-left:15px;padding-right:15px;">
              <p style="font-size: 13px;">{{getAbstract(guide.body)}}</p> 
          <p style="font-size: 13px;">{{guide.webUrl}}</p>
          </div>
          <div class="card-action" style="text-align: right;padding: 15px;padding-top: 7px; padding-bottom: 7px;">
            <a [routerLink]="['details', guide.id]" style="text-transform: uppercase;margin-right: 0;">{{guide.field_cost}}</a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
