<app-header [title]="'Feedback'"
            [description]="'We appreciate your visit to the beta-version of the Research Hub, our platform for research support.'"></app-header>

<div class="component" ngClass.xs="component-xs">
  <div style="max-width: 850px; margin-bottom: 2em;">
    <h2>Thank You!</h2>
    <p>We are developing the Research Hub further and would be grateful for your feedback.
      This will give us pointers for user-led refinement and further development of the interface content displayed
      in the Research Hub.
    </p>
    <p>
      You can also register your interest in helping our User Experience Specialist running through a usability
      study.
    </p>
    <p>
      Thank you,<br/>
      The Development Team
    </p>
  </div>

  <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="1em">
    <app-feedback-form ngClass.gt-md="card-gt-md" [title]="'Feedback'" [imageUrl]="'https://static.planetminecraft.com/files/avatar/1939407_1.gif'"></app-feedback-form>
    <app-feedback-form ngClass.gt-md="card-gt-md" [title]="'Join a User Study'" [imageUrl]="'https://static.planetminecraft.com/files/avatar/1939407_1.gif'"></app-feedback-form>
  </div>
</div>
