<div id="main">

  <div id="intro">
    <div id="intro-title" class="title">
      <h1>Thankyou!</h1>
    </div>
    <div id="intro-text">
      <p>We appreciate your visit of the beta-version of Takarangi, our platform for research support. We are currently
        working on developing this tool further and would be grateful for your feedback.
        This will give us pointers for user-led refinement and further development of interface and content of the tool.
      </p>
      <p>You can also register your interest in helping our User Experience Specialist running through a usability
        study.
      </p>
      <p>
        Thank you,<br/>
        The Development Team
      </p>
    </div>
    <div id="intro-image">
      <img src="https://static.planetminecraft.com/files/avatar/1939407_1.gif">
    </div>
  </div>

  <div id="feedback-and-register">
    <div id="feedback">
      <div id="feedback-title" class="title">
        <h2>Feedback</h2>
        <app-feedback-form></app-feedback-form>
      </div>
    </div>

    <div id="register">
      <div id="register-title" class="title">
        <h2>Register Interest in Usability Study</h2>
        <app-feedback-form></app-feedback-form>
      </div>
    </div>
  </div>

</div>

