
@import "../../variables";

#main {
  display: flex;
  flex-flow: column;
  font-family: $font-family;
}

/*
Intro
 */

#intro{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  order: 1;
}

#intro-title{
  order: 1;
}

#intro-image{
  order: 2;
}

#intro-text{
  order: 3;
  line-height: $line-height;
}

#intro-text p {
  color: $color-text;
}

.title{
  color: $color-text;
}

/*
Feedback and Register
 */

#feedback-and-register {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  order: 2;
}

#feedback{
  order: 1;
}

#register{
  order: 2;
}

.input-section{
  min-width:50%;
}


@media (max-width: $mobile-portrait-max){
  .title{
    font-size: 90%;
  }

  .input-section{
    min-width:100%;
  }
}

@media (min-width: $mobile-landscape-min) and (max-width: $mobile-landscape-max){
  .title{
    font-size: 90%;
  }

  .input-section{
    min-width:100%;

  }
}

//@media (min-width: $tablet-portrait-min) and (max-width: $tablet-portrait-max){
@media (min-width: $tablet-portrait-min) and (max-width: 995px){

  .input-section{
    width:100%;
  }

  #intro-title{
    order: 1;
    width:100%;
  }

  #intro-image{
    order: 3;
  }

  #intro-text{
    order: 2;
    max-width: 70%;
  }

  #intro-image img {
    height: auto;
  }


}

//@media (min-width: $tablet-landscape-min) and (max-width: $tablet-landscape-max){
@media (min-width: 996px) and (max-width: $tablet-landscape-max){


  .input-section{
    min-width:48%;
  }

  #intro-title{
    order: 1;
    width:100%;
  }

  #intro-image{
    order: 3;
  }

  #intro-text{
    order: 2;
    max-width: 70%;
  }

  #intro-image img {
    height: auto;
  }

}


@media (min-width: $desktop-width-min){

  #main {
    //max-width: calc((1360px - #{$sidenav-width}) * 0.8);
    max-width:$desktop-width-min;
  }

  #intro-title{
    order: 1;
    width:100%;
  }

  #intro-image{
    order: 3;
  }

  #intro-image img {
    height: auto;
    width: 100%;
  }


  #intro-text{
    order: 2;
    max-width: 70%;
  }

  .input-section{
    min-width:48%;

  }


}
