@import "../../variables";

// card width
.response{
  max-width: 400px;
}


h2 {
  font-family: $heading-font-family;
  font-size: $heading-2-font-size;
  color: $heading-2-font-color;
}

p {
  font-family: $body-font-family;
  font-size: $body-font-size;
  color: $body-font-color;
}
