@import "../../styles";

/*
 * Image based header styles
 */

.header {
  @extend .div-background-image;
}

.header-xs {
  @extend .header;
  padding: 0;
}

.info {
  padding: $gt-xs-offset;
  margin-bottom: $gt-xs-offset * 3;
  background-color: $color-background;
}

.info-xs {
  @extend .info;
  padding: $xs-offset;
  margin-bottom: 0;
}

.cover-image {
  @extend .div-background-image;
  height: 300px;
}

.cover-image-xs {
  @extend .div-background-image;
  height: 200px;
}

.colored-background {
  background-color: #28a4b3;
}

::ng-deep .header-description a  {
  //color: $color-bold-link-text;
  text-decoration: none;
  //font-weight: bold;
}

::ng-deep .header-description p  {
  margin-bottom: 0;
}
