@import '../../../styles';

.flex-hack {
  flex: 1 1 auto !important;
  width: 100%; // For IE 11
}

.component {
  @extend .flex-hack;
}

.component-xs {
  @extend .component;
}

.mat-button.mat-small {
  min-width: 1%;
}

.content-header {
  padding: $offset-gt-xs;
  background-color: $color-content-header;
}

.content-header-xs {
  @extend .content-header;
  padding: $offset-xs $offset-xs 1.2em $offset-xs;
}

.content-header > div:nth-child(1) > h2 {
  color: white;
  margin-top: 0;
  margin-bottom: 0.25em;
}

.content-header div:nth-child(1) > h3 {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

.content-cover-image {
  height: 200px;
  width: 100%;
  background-size: cover;
  background: no-repeat center;
  padding: 1em;
}

.content-overview {
  padding-right: 2em;
}

.content-overview-xs {
  @extend .content-overview;
  padding-right: 0;
  margin-bottom: 1em;
}

.content-overview-xs {
  @extend .content-overview;
}

.contact-chip {
  margin: 0.25em !important;
}

.org-unit-chip {
  margin: 0.25em !important;
}

.policy-url {
  display: block;
  margin: 0.5em;
  width: 100%;
}

.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
  margin-top: 1.4em;
  margin-bottom: 1.6em;
}

.divider-app-markdown {
  @extend .divider;
  margin-top: 2em;
  margin-bottom: 0.8em;
}

.browse-tile {
  @extend .browse-tile;
  background-color: $color-guide-tile-bg !important;
}
