@import '../../../styles';

.flex-hack {
  flex: 1 1 auto !important;
}

.component {
  @extend .flex-hack;
}

.component-xs {
  @extend .component;
}


.content-header {
  padding: $gt-xs-offset;
  background-color: $color-content-header;
}

.content-header-xs {
  @extend .content-header;
  padding: $xs-offset $xs-offset 1.2em $xs-offset;
}

.content-header > div:nth-child(1) > h2 {
  color:white;
  margin-top: 0;
  margin-bottom: 0.25em;
}

.content-header div:nth-child(1) > h3 {
  color:white;
  margin-top: 0;
  margin-bottom: 0;
}

.content-cover-image {
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1em;
}


//.description p {
//  color: white !important;
//}

//.content {
//  max-width: $lg-thresh-min;
//  margin: 2em;
//}
//
//.content-xs {
//  @extend .content;
//  margin: 0.5em 1.5em 1em 1.5em;
//}

.content-overview {
  padding-right: 2em;
}

.content-overview-xs {
  @extend .content-overview;
  padding-right: 0;
  margin-bottom: 1em;
}

.content-overview-xs {
  @extend .content-overview;
}

//.content-details {
//  margin-top: -16px;
//}

.contact-chip {
  margin: 0.25em !important;
}

.org-unit-chip {
  margin: 0.25em !important;
}

.policy-url {
  display: block;
  margin: 0.5em;
  width: 100%;
}

.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
  margin-top: 1.4em;
  margin-bottom: 1.6em;
}

.divider-app-markdown {
  @extend .divider;
  margin-top: 2em;
  margin-bottom: 0.8em;
}
