<ng-container *ngIf="content && !isGuide()">
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em">
    <div class="flex-hack" fxFlex="60" fxLayout="column" fxLayoutGap="1em" [ngStyle.lt-lg]="{'margin-top': '1em'}">
      <mat-card>
        <mat-card-header fxHide.gt-xs>
          <img style="width: 64px; height: 64px; margin-right: 1em;" *ngIf="content" mat-card-avatar [src]="apiService.getAssetUrl(content.image)">
          <mat-card-title><h2 style="font-size: 24px;">{{content.name}}</h2></mat-card-title>
          <mat-card-subtitle>
            <ng-container *ngFor="let item of categories; let i=index;">
              <a style="display: inline;" [routerLink]="['/search']" [queryParams]="{categoryId: item.idUi}">
                {{item.nameUi}}<ng-container *ngIf="i + 1 < content.contentTypes.length">, </ng-container>
              </a>
            </ng-container>
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <div fxLayout="row" fxLayoutGap="2em">
            <div fxFlex="40" fxHide.lt-sm>
              <img style="width:100%; height:auto;" [src]="apiService.getAssetUrl(content.image)">
            </div>

            <div fxFlex="60" fxFlex.lt-sm="100" fxLayout="column" fxLayoutGap="1em">
              <div fxFlex fxHide.xs>
                <h1 >{{content.name}}</h1>
                <ng-container *ngFor="let item of categories; let i=index;">
                  <a style="display: inline;" [routerLink]="['/search']" [queryParams]="{categoryId: item.idUi}">
                    {{item.nameUi}}<ng-container *ngIf="i + 1 < content.contentTypes.length">, </ng-container>
                  </a>
                </ng-container>
              </div>

              <div fxFlex="36px" fxFlexAlign="end">
                <a *ngIf="!isKnowledgeArticle() && !isIntegratedService()" mat-raised-button color="accent" (click)="trackAction()" [href]="content.action" target="_blank">
                  Request
                </a>
                <button *ngIf="!isKnowledgeArticle() && isIntegratedService()" mat-raised-button color="accent" [routerLink]="['/'+ content.action]">
                  Request
                </button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card [ngClass]="{'description': !isKnowledgeArticle()}" class="description">
        <app-markdown [data]="content.description"></app-markdown>
      </mat-card>

      <mat-card *ngIf="content.additionalInfo">
        <app-markdown [data]="content.additionalInfo"></app-markdown>
      </mat-card>

      <mat-card *ngIf="content.actionableInfo">
        <app-markdown [data]="content.actionableInfo"></app-markdown>
      </mat-card>
    </div>

    <div class="flex-hack" fxFlex="40" fxLayout="column" fxLayoutGap="1em">
      <mat-card *ngIf="similarContentItems && similarContentItems.length">
        <h2>You might also be interested in</h2>
        <mat-nav-list>
          <mat-list-item *ngFor="let item of similarContentItems" [routerLink]="['/content', item.id]">
            <img mat-list-avatar [src]="apiService.getAssetUrl(item.image)">
            <h3 mat-line> {{item.name}} </h3>
          </mat-list-item>
        </mat-nav-list>
      </mat-card>

      <mat-card *ngIf="userSupport && userSupport.length">
        <h2>For support contact</h2>
        <mat-chip-list [selectable]="true">
          <mat-chip class="contact-chip" *ngFor="let item of userSupport" [routerLink]="item | listItemToRouterLink">
            <img class="chip-avatar" [src]="apiService.getAssetUrl(item.image)" height="25"/>
            {{item.title}}
          </mat-chip>
        </mat-chip-list>
      </mat-card>

      <mat-card>
        <h2>Organisation units</h2>
        <mat-chip-list>
          <mat-chip class="org-unit-chip" *ngFor="let orgUnit of content.orgUnits" [routerLink]="['/orgUnit', orgUnit.id]">
            <img class="chip-avatar" [src]="apiService.getAssetUrl(orgUnit.image)" height="25"/>
            {{orgUnit.name}}
          </mat-chip>
        </mat-chip-list>
      </mat-card>

      <mat-card *ngIf="content.policies.length">
        <h2>Policies</h2>
        <a class="policy-url" *ngFor="let policy of content.policies" [href]="policy.url" target="_blank" (click)="analyticsService.trackPolicy(policy.name, policy.url);">
          {{policy.name}}
        </a>
      </mat-card>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="content && isGuide()">
  <div fxLayout="column" fxLayoutGap="1em">
    <mat-card class="description">
      <h1>{{content.name}}</h1>
      <app-markdown [data]="content.description"></app-markdown>
    </mat-card>

    <mat-grid-list [cols]="numCols" gutterSize="1em">
      <mat-grid-tile class="browse-tile" *ngFor="let item of content.guideCategories;" [colspan]="1" [rowspan]="1" [routerLink]="['/guideCategory', item.id]">
        <div fxLayout="column" fxLayoutAlign="center center" class="tile-content">
          <span class="tile-text">{{item.name}}</span>
          <mat-icon class="tile-icon">{{item.icon}}</mat-icon>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-card *ngIf="content.additionalInfo">
      <app-markdown [data]="content.additionalInfo"></app-markdown>
    </mat-card>
  </div>
</ng-container>
