<ng-container *ngIf="content">
  <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="1em">
    <div class="flex-hack" fxFlex="40" fxLayout="column" fxLayoutGap="1em" fxFlexOrder.lt-lg="2" [ngStyle.lt-lg]="{'margin-top': '1em'}">
      <div fxHide.lt-lg>
        <img style="width:100%; height:auto;" [src]="apiService.getAssetUrl(content.image)">
      </div>

      <mat-card *ngIf="similarContentItems && similarContentItems.length">
        <h2>You might also be interested in</h2>
        <mat-nav-list>
          <mat-list-item *ngFor="let item of similarContentItems" [routerLink]="item.getRouterLink()">
            <img mat-list-avatar [src]="apiService.getAssetUrl(item.image)">
            <h3 mat-line> {{item.getTitle()}} </h3>
          </mat-list-item>
        </mat-nav-list>
      </mat-card>

      <mat-card *ngIf="userSupport && userSupport.length">
        <h2>For support contact</h2>
        <mat-chip-list [selectable]="true">
          <mat-chip class="contact-chip" *ngFor="let item of userSupport" [routerLink]="item.getRouterLink()">
            {{item.getTitle()}}
          </mat-chip>
        </mat-chip-list>
      </mat-card>

      <mat-card>
        <h2>Organisational units</h2>
        <mat-chip-list>
          <mat-chip class="org-unit-chip" *ngFor="let item of content.orgUnits" [routerLink]="item.getRouterLink()">
            {{item.getTitle()}}
          </mat-chip>
        </mat-chip-list>
      </mat-card>

      <mat-card *ngIf="content.policies.length">
        <h2>Policies</h2>
        <a class="policy-url" *ngFor="let item of content.policies" [href]="item.url" target="_blank" (click)="analyticsService.trackPolicy(item.getTitle(), item.url);">
          {{item.getTitle()}}
        </a>
      </mat-card>


    </div>

    <div class="flex-hack" fxFlex="60" fxLayout="column" fxLayoutGap="1em" fxFlexOrder.lt-lg="1">
      <mat-card [ngClass]="{'description': !isKnowledgeArticle}" class="description">
        <h1>{{content.name}}</h1>
        <app-markdown [data]="content.description"></app-markdown>
        <button mat-fab style="position: absolute;z-index: 100;bottom: -28px; right: 28px;" (click)="launchService(content)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card>

      <div fxHide.gt-md>
        <img fxFlexFill [src]="apiService.getAssetUrl(content.image)">
      </div>

      <mat-card *ngIf="content.additionalInfo">
        <app-markdown [data]="content.additionalInfo"></app-markdown>
      </mat-card>

      <mat-card *ngIf="content.actionableInfo">
        <app-markdown [data]="content.actionableInfo"></app-markdown>
      </mat-card>
    </div>
  </div>
</ng-container>
