@import "../../../../styles";

/*
 * Image based header styles
 */

.header {
  @extend .div-background-image;
}

.header-xs {
  @extend .header;
  padding: 0;
}

.info-no-bg {
  padding: $gt-xs-offset;
  background-color: white;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)
}

.info-no-bg-xs {
  @extend .info-no-bg;
  margin-bottom: 0;
}

.info {
  padding: $gt-xs-offset;
  margin-bottom: $gt-xs-offset * 3;
  background-color: white;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)
}

.info-xs {
  @extend .info;
  padding: $xs-offset;
  margin-bottom: 0;
}

.cover-image {
  @extend .div-background-image;
  height: 300px;
}

.cover-image-xs {
  @extend .div-background-image;
  height: 200px;
}

.colored-background {
  //background-color: #28a4b3;
}

::ng-deep .header-description a  {
  //color: $color-bold-link-text;
  text-decoration: none;
  //font-weight: bold;
}

::ng-deep .header-description p  {
  margin-bottom: 0 !important;
}
