<div class="component" class.xs="component-xs" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em">
  <div class="flex-hack" fxFlex="40" fxFlex.gt-md="400px" fxLayout="column" fxLayoutGap="1em" fxFlexOrder.lt-lg="1">
    <div>
      <img *ngIf="content" style="width:100%; height:auto;" [src]="apiService.getAssetUrl(content.image)">
    </div>
  </div>

  <div class="flex-hack" fxFlex="60" fxLayout="column" fxLayoutGap="1em" fxFlexOrder.lt-lg="2">
    <mat-card>
      <h1>Request VM Consultation</h1>
      <p>In order to request a virtual machine please book a consultation with us to discuss required details. A consultation typically takes 30 minutes. No preparation on your side is necessary. If you have any questions please put them into the comments field.</p>

      <form [formGroup]="requestVmForm" novalidate>
        <div class="form-group">
          <h3>When would you like the consultation to take place?</h3>

          <mat-form-field style="padding-right: 20px;">
            <input matInput [matDatepicker]="picker" [min]="dateToday" formControlName="date" placeholder="Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="dateCtrl.invalid">Please choose a date</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Time" formControlName="time">
              <mat-option *ngFor="let time of times" [value]="time">
                {{time}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="timeCtrl.invalid">Please choose a time</mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <h3>Location</h3>
          <p>Please meet us at 23 Symonds Street, Building 302, Floor 5, Room 585 or make alternative arrangements with us through the comments field.</p>
        </div>

        <div class="form-group">
          <h3>Do you have any comments?</h3>
          <mat-form-field class="input-full-width">
            <textarea matInput placeholder="Comments" formControlName="comments"></textarea>
          </mat-form-field>
        </div>
      </form>

      <div class="button-container" fxLayout="row" fxLayoutAlign="end">
        <button mat-raised-button color="accent" (click)="submit()">Submit</button>
      </div>
    </mat-card>
  </div>
</div>
