<div *ngIf="orgUnit">
  <app-header [title]="orgUnit.name"
              [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum, nibh nec varius maximus, sem quam accumsan magna, eu congue magna nisl quis orci'"></app-header>

  <div class="content" class.xs="content-xs" fxLayout="column">
    <div class="content-details" class.xs="content-details-xs" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em">
      <md-card fxFlex="50" fxFlex.lt-md="100" *ngIf="orgUnit.people.length">
        <h3>People</h3>
        <md-nav-list>
          <md-list-item *ngFor="let item of orgUnit.people" [routerLink]="item.getRouterLink()">
            <img md-list-avatar [src]="apiService.getAssetUrl(item.image)">
            <h3 md-line> {{item.getTitle()}} </h3>
          </md-list-item>
        </md-nav-list>
      </md-card>

      <md-card fxFlex="50" fxFlex.lt-md="100" *ngIf="orgUnit.contentItems.length">
        <h3>Resources</h3>
        <md-nav-list>
          <md-list-item *ngFor="let item of orgUnit.contentItems" [routerLink]="item.getRouterLink()">
            <img md-list-avatar [src]="apiService.getAssetUrl(item.image)">
            <h3 md-line> {{item.getTitle()}} </h3>
          </md-list-item>
        </md-nav-list>
      </md-card>
    </div>
  </div>
</div>
