<div *ngIf="content">
  <div>
    <div class="content-header" fxLayout="row" class.xs="content-header-xs">
      <div fxFlex="77" fxFlex.xs="100">
        <h2>{{content.name}}</h2>
        <h3>{{content.getMainOrgUnit().name}}</h3>
      </div>
      <div fxFlex="33" fxFlex.xs="0" fxLayoutAlign="end" >
        <div fxLayout="column" fxFlexAlign="end" fxHide.xs>
          <button class="go-button-gt-xs" md-raised-button color="accent">Go</button>
        </div>
      </div>
    </div>
    <div class="content-cover-image" fxHide.gt-xs fxLayout="row" fxLayoutAlign="end" style="background-image: url('assets/shiba.jpg');" >
      <div fxLayout="column" fxFlexAlign="end">
        <button md-raised-button color="accent">Go</button>
      </div>
    </div>
  </div>

  <div class="content" class.xs="content-xs" fxLayout="row" fxLayout.xs="column">
    <div class="content-overview" class.xs="content-overview-xs" fxFlex="40" fxFlex.lg-xs="100" fxFlexOrder.xs="2" fxLayout="column">
      <div fxHide.lt-sm>
        <img fxFlex="100" src="assets/shiba.jpg">
      </div>

      <div>
        <h3>For Support Contact</h3>
        <md-chip-list [selectable]="true">
          <md-chip class="contact-chip" *ngFor="let item of content.people" [routerLink]="item.getRouterLink()">
            {{item.getTitle()}}
          </md-chip>
        </md-chip-list>
      </div>

      <div>
        <div class="divider"></div>
        <h3>Organisational Units</h3>
        <md-chip-list>
          <md-chip class="org-unit-chip" *ngFor="let item of content.orgUnits" [routerLink]="item.getRouterLink()">
            {{item.getTitle()}}
          </md-chip>
        </md-chip-list>
      </div>

      <div *ngIf="content.policies.length">
        <div class="divider"></div>
        <h3>Policies</h3>
        <a class="policy-url" *ngFor="let item of content.policies" href="{{item.url}}" target="_blank">
          {{item.getTitle()}}
        </a>
      </div>

      <div *ngIf="similarContentItems && similarContentItems.length">
        <div class="divider"></div>
        <h3>You might also be interested in</h3>
        <md-nav-list>
          <md-list-item *ngFor="let item of similarContentItems" [routerLink]="item.getRouterLink()">
            <img md-list-avatar src="">
            <h3 md-line> {{item.getTitle()}} </h3>
          </md-list-item>
        </md-nav-list>
      </div>
    </div>

    <div class="content-details" class.xs="content-details-xs" fxFlex="auto" fxFlex.lg-xs="100" fxFlexOrder.xs="1" fxLayout="column">
      <div>
        <app-markdown [data]="content.description"></app-markdown>
        <div class="divider-app-markdown"></div>
      </div>

      <div>
        <app-markdown [data]="content.actionableInfo"></app-markdown>
        <div class="divider-app-markdown"></div>
      </div>

      <div>
        <app-markdown [data]="content.additionalInfo"></app-markdown>
        <div fxHide.gt-xs class="divider-app-markdown"></div>
      </div>
    </div>
  </div>
</div>
