<ng-container *ngIf="content">
  <app-header [title]="content.name"
              [goHref]="content.callToAction"
              [goEventCategory]="analyticsService.eventCategoryContent">
  </app-header>
  <div class="component" class.xs="component-xs" fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="1em">
    <div fxFlex="40" fxFlex.gt-lg="635px" fxLayout="column" fxLayoutGap="1em" fxFlexOrder.lt-lg="2" [ngStyle.lt-lg]="{'margin-top': '1em'}">
      <div fxHide.lt-lg>
        <!--<img fxFlex="100" width="100%;" [src]="apiService.getAssetUrl(content.image)">-->
        <img fxFlexFill [src]="apiService.getAssetUrl(content.image)">
      </div>

      <md-card *ngIf="userSupport && userSupport.length">
        <h2>For support contact</h2>
        <md-chip-list [selectable]="true">
          <md-chip class="contact-chip" *ngFor="let item of userSupport" [routerLink]="item.getDefaultRouterLink()">
            {{item.getTitle()}}
          </md-chip>
        </md-chip-list>
      </md-card>

      <md-card>
        <h2>Organisational units</h2>
        <md-chip-list>
          <md-chip class="org-unit-chip" *ngFor="let item of content.orgUnits" [routerLink]="item.getDefaultRouterLink()">
            {{item.getTitle()}}
          </md-chip>
        </md-chip-list>
      </md-card>

      <md-card *ngIf="content.policies.length">
        <h2>Policies</h2>
        <a class="policy-url" *ngFor="let item of content.policies" [href]="item.url" target="_blank" (click)="analyticsService.trackPolicy(item.getTitle(), item.url);">
          {{item.getTitle()}}
        </a>
      </md-card>

      <md-card *ngIf="similarContentItems && similarContentItems.length">
        <h2>You might also be interested in</h2>
        <md-nav-list>
          <md-list-item *ngFor="let item of similarContentItems" [routerLink]="item.getDefaultRouterLink()">
            <img md-list-avatar [src]="apiService.getAssetUrl(item.image)">
            <h3 md-line> {{item.getTitle()}} </h3>
          </md-list-item>
        </md-nav-list>
      </md-card>
    </div>

    <div fxFlex="60" fxLayout="column" fxLayoutGap="1em" fxFlexOrder.lt-lg="1">
      <md-card [ngClass]="{'description': !isKnowledgeArticle}" class="description">
        <app-markdown [data]="content.description"></app-markdown>
      </md-card>

      <div fxHide.gt-md>
        <img fxFlexFill [src]="apiService.getAssetUrl(content.image)">
      </div>

      <md-card *ngIf="content.actionableInfo">
        <app-markdown [data]="content.actionableInfo"></app-markdown>
      </md-card>

      <md-card *ngIf="content.additionalInfo">
        <app-markdown [data]="content.additionalInfo"></app-markdown>
      </md-card>
    </div>
  </div>
</ng-container>
