<ng-container *ngIf="content">
  <app-header [title]="content.name" [description]="content.getMainOrgUnit().name"></app-header>

  <div class="component" class.xs="component-xs" fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="1em">
    <div fxFlex="40" fxFlex.gt-lg="635px" fxLayout="column" fxLayoutGap="1em" fxFlexOrder.lt-lg="2" [ngStyle.lt-lg]="{'margin-top': '1em'}">
      <div fxHide.lt-lg>
        <img fxFlex="100" width="100%;" [src]="apiService.getAssetUrl(content.image)">
      </div>

      <md-card>
        <h3>For Support Contact</h3>
        <md-chip-list [selectable]="true">
          <md-chip class="contact-chip" *ngFor="let item of content.people" [routerLink]="item.getRouterLink()">
            {{item.getTitle()}}
          </md-chip>
        </md-chip-list>
      </md-card>

      <md-card>
        <h3>Organisational Units</h3>
        <md-chip-list>
          <md-chip class="org-unit-chip" *ngFor="let item of content.orgUnits" [routerLink]="item.getRouterLink()">
            {{item.getTitle()}}
          </md-chip>
        </md-chip-list>
      </md-card>

      <md-card *ngIf="content.policies.length">
        <h3>Policies</h3>
        <a class="policy-url" *ngFor="let item of content.policies" href="{{item.url}}" target="_blank">
          {{item.getTitle()}}
        </a>
      </md-card>

      <md-card *ngIf="similarContentItems && similarContentItems.length">
        <h3>You might also be interested in</h3>
        <md-nav-list>
          <md-list-item *ngFor="let item of similarContentItems" [routerLink]="item.getRouterLink()">
            <img md-list-avatar [src]="apiService.getAssetUrl(item.image)">
            <h3 md-line> {{item.getTitle()}} </h3>
          </md-list-item>
        </md-nav-list>
      </md-card>
    </div>

    <div fxFlex="60" fxLayout="column" fxLayoutGap="1em" fxFlexOrder.lt-lg="1">
      <md-card class="description">
        <app-markdown [data]="content.description"></app-markdown>
      </md-card>

      <div fxHide.gt-md>
        <img fxFlex="100" width="100%;" [src]="apiService.getAssetUrl(content.image)">
      </div>

      <md-card>
        <app-markdown [data]="content.actionableInfo"></app-markdown>
      </md-card>

      <md-card>
        <app-markdown [data]="content.additionalInfo"></app-markdown>
      </md-card>
    </div>
  </div>
</ng-container>
