@import "../../variables";
@import '../../styles';

.search-results {
  margin: $gt-xs-offset;
  //margin-to
}

.search-results-xs {
  @extend .search-results;
  margin: 0;
  margin-top: 1em;
}

//md-chip.mat-chip {
//  font-size: mat-font-size($app-chips-typography, button) !important;
//  font-weight: mat-font-weight($app-chips-typography, button) !important;
//}

