@import "../../styles";

h3.mat-line {
  font-size: mat-font-size($app-base-typography, subheading-2) !important;
  font-weight: mat-font-weight($app-base-typography, subheading-2) !important;;
}

h2.mat-subheader{
  color:$heading-2-font-color !important;
  font-size: mat-font-size($app-base-typography, title) !important;
  font-weight: mat-font-weight($app-base-typography, title) !important;
}
