@import "../../styles";

h3.mat-line {
  font-size: mat-font-size($app-base-typography, subheading-2) !important;
  font-weight: mat-font-weight($app-base-typography, subheading-2) !important;;
}

h2.mat-subheader{
  color:$heading-2-font-color !important;
  font-size: mat-font-size($app-base-typography, title) !important;
  font-weight: mat-font-weight($app-base-typography, title) !important;
  margin-top: 0.2em !important;
  margin-bottom: 0 !important;
}

h3.mat-subheader{
  color:$subheading-font-color !important;
  font-size: mat-font-size($app-base-typography, subheading-1) !important;
  font-weight: mat-font-weight($app-base-typography, subheading-1) !important;
  margin-top: 0.2em !important;
  margin-bottom: 0 !important;
}
