<div *ngIf="person">
  <app-header [title]="person.getTitle()"
              [description]="person.jobTitle"
              [imageUrl]="apiService.getAssetUrl('page-elements/DSC_0192_1680x220_BW.jpg')"></app-header>

  <div class="content" class.xs="content-xs" fxLayout="row" fxLayout.xs="column">
    <div class="content-overview" class.xs="content-overview-xs" fxFlex="40" fxFlex.lg-xs="100" fxLayout="column">
      <div fxHide.lt-sm>
        <img fxFlex="100" [src]="apiService.getAssetUrl(person.image)">
      </div>
    </div>

    <div class="content-details" class.xs="content-details-xs" fxFlex="auto" fxFlex.lg-xs="100" fxLayout="column" fxLayoutGap="1em">
      <div fxHide.gt-xs>
        <img fxFlex="100" [src]="apiService.getAssetUrl(person.image)">
      </div>

      <md-card>
        <h3>Email</h3>
        <p>{{person.email}}</p>
        <h3>Phone</h3>
        <p>+64 9 415 7899</p>
        <h3>Location</h3>
        <p>+64 9 415 7899</p>
      </md-card>

      <md-card *ngIf="person.orgUnits.length">
        <h3>Organisational Units</h3>
        <md-nav-list>
          <md-list-item *ngFor="let item of person.orgUnits" [routerLink]="item.getRouterLink()">
            <h3 md-line> {{item.getTitle()}} </h3>
          </md-list-item>
        </md-nav-list>
      </md-card>

      <md-card *ngIf="person.contentRoles.length">
        <h3>Roles</h3>
        <md-nav-list>
          <md-list-item *ngFor="let item of person.contentRoles" [routerLink]="item.getRouterLink()">
            <img md-list-avatar [src]="apiService.getAssetUrl(item.content.image)">
            <h3 md-line> {{item.getTitle()}} </h3>
            <p md-line>{{item.getSubtitle()}}</p>
          </md-list-item>
        </md-nav-list>
      </md-card>
    </div>
  </div>
</div>
