<div *ngIf="person">
  <div class="content-header" fxLayout="row" class.xs="content-header-xs">
    <div fxFlex="77" fxFlex.xs="100">
      <h2>{{person.firstName}} {{person.lastName}}</h2>
      <h3>{{person.jobTitle}}</h3>
    </div>
    <div fxFlex="33" fxFlex.xs="0" fxLayoutAlign="end">
      <div fxLayout="column" fxFlexAlign="end" fxHide.xs>
        <a class="go-button-gt-xs" md-raised-button color="accent" href="{{person.directoryUrl}}" target="_blank">Go</a>
      </div>
    </div>
  </div>
  <div class="content-cover-image" fxHide.gt-xs fxLayout="row" fxLayoutAlign="end"
       style="background-image: url('assets/shiba.jpg');">
    <div fxLayout="column" fxFlexAlign="end">
      <a md-raised-button color="accent" href="{{person.directoryUrl}}" target="_blank">Go</a>
    </div>
  </div>

  <div class="content" class.xs="content-xs" fxLayout="row" fxLayout.xs="column">
    <div class="content-overview" class.xs="content-overview-xs" fxFlex="40" fxFlex.lg-xs="100" fxLayout="column">
      <div fxHide.lt-sm>
        <img fxFlex="100" src="assets/shiba.jpg">
      </div>

      <div>
        <h3>Contact Details</h3>
        <md-chip-list>
          <md-chip style="margin: 0.25em;" color="accent" selected="true">
            {{person.email}}
          </md-chip>
          <md-chip style="margin: 0.25em;" color="accent" selected="true">
            +649 415 7899
          </md-chip>
        </md-chip-list>
      </div>
    </div>

    <div fxHide.gt-sm class="divider"></div>

    <div class="content-details" class.xs="content-details-xs" fxFlex="auto" fxFlex.lg-xs="100" fxLayout="column">
      <div *ngIf="person.orgUnits.length">
        <h3>Organisational Units</h3>
        <md-nav-list>
          <md-list-item *ngFor="let item of person.orgUnits" [routerLink]="item.getRouterLink()">
            <img md-list-avatar src="">
            <h3 md-line> {{item.getTitle()}} </h3>
          </md-list-item>
        </md-nav-list>
      </div>

      <div *ngIf="person.contentRoles.length">
        <div class="divider"></div>
        <h3>Roles</h3>
        <md-nav-list>
          <md-list-item *ngFor="let item of person.contentRoles" [routerLink]="item.getRouterLink()">
            <img md-list-avatar src="">
            <h3 md-line> {{item.getTitle()}} </h3>
            <p md-line>{{item.getSubtitle()}}</p>
          </md-list-item>
        </md-nav-list>
      </div>
    </div>
  </div>
</div>
