<div *ngIf="person">
  <app-header [title]="person.getTitle()"
              [description]="person.jobTitle"></app-header>

  <div class="content" class.xs="content-xs" fxLayout="column" fxLayoutGap="1em">
      <md-card>
        <div class="div-background-image person-image" [ngStyle]="{'background-image': 'url(' + apiService.getAssetUrl(person.image) + ')'}"></div>
      </md-card>

      <md-card>
        <h3>Email</h3>
        <p>{{person.email}}</p>
        <h3>Phone</h3>
        <p>+64 9 415 7899</p>
      </md-card>

      <md-card *ngIf="person.orgUnits.length">
        <h3>Organisational Units</h3>
        <md-nav-list>
          <md-list-item *ngFor="let item of person.orgUnits" [routerLink]="item.getDefaultRouterLink()">
            <h3 md-line> {{item.getTitle()}} </h3>
          </md-list-item>
        </md-nav-list>
      </md-card>

      <md-card *ngIf="supportedContent && supportedContent.length">
        <h3>Supported Resources</h3>
        <md-nav-list>
          <md-list-item *ngFor="let item of supportedContent" [routerLink]="item.getDefaultRouterLink()">
            <img md-list-avatar [src]="apiService.getAssetUrl(item.image)">
            <h3 md-line> {{item.getTitle()}} </h3>
            <p md-line>{{item.getSubtitle()}}</p>
          </md-list-item>
        </md-nav-list>
      </md-card>
  </div>
</div>
