@import "../../variables";

div.main{
  justify-content: center;
}


.title h1 {
  color: $color-text;
}

.summary {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.summary-text {
  max-width: 70%;
  order: 1;
}

.summary-text p {
  color: $color-text;
  font-weight: bold;
  text-align: justify;
}

.summary-image {
  order: 2;
  margin: auto;
}

.summary-image img {
  height: auto;
  width: auto;
  max-width: 150px;
  max-height: 150px;
}


.body p {
  color: $color-text;;
  text-align: justify;
}

.signature span {
  color: $color-text;
}

//@media all and (max-width: $xs-thresh-max) {
@media all and (max-width: 320px) {
  .summary-text {
    max-width: 100%;
    text-align: left;
  }
}

