div.main{
  //max-width: 600px;
}


.title h1 {
  color: navy;
}

.summary {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.summary-text {
  //max-width: 500px;
  order: 1;
}

.summary-image {
  order: 2;
}

.summary-text p {
  color: black;
  font-weight: bold;
  text-align: justify;
}

.summary-image img {

}


.body p {
  color: black;
  text-align: justify;
}

.signature span {
  color: black;
}
