@import '../../../../styles';

.filter-sidenav-content,.filter-header {
  padding-left:32px;
  padding-right:32px;
}

.filter-header {
  background-color: inherit;
  mat-icon {
    color: $color-icon;
  }
}
