<mat-card>
  <h2 style="text-align: center;">Project Dashboard</h2>
  <h4 style="text-align: center;">Project ID: {{project.id}}</h4>
  <h4 style="text-align: center;">Project Code: {{project.code}}</h4>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title><h3>{{project.title}}</h3></mat-card-title>
    <mat-card-subtitle>{{project.description}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-card *ngIf="showContent">
  <mat-card-header>
    <mat-card-title><h3>Manage Project Resource Access</h3></mat-card-title>
    <mat-card-subtitle>Manage the project members access to project resources</mat-card-subtitle>
  </mat-card-header>
  <mat-grid-list [cols]="projectResources.length+1" rowHeight="8:1">
    <mat-grid-tile [rowspan]="2" class="projectResourceTile" style="color: #B13462;">Project Member</mat-grid-tile>
    <mat-grid-tile [colspan]="projectResources.length" class="projectResourceTile" style="color: #B13462;">Project Resources</mat-grid-tile>
    <mat-grid-tile *ngFor="let resource of projectResources" class="projectResourceTile">
      {{resource.name}} (<span class="infoText">{{resource.id}}</span>)
    </mat-grid-tile>
    <!-- Iterate through project members-->
    <div *ngFor="let projectMember of project.members" >
      <mat-grid-tile class="projectResourceTile">
        {{projectMember.fullName}} (<span class="infoText">{{projectMember.uoaId}}</span>)<button mat-icon-button style="color: #757575;" (click)="deleteProjectMember(projectMember.memberId)"><mat-icon>delete</mat-icon></button>
      </mat-grid-tile>
      <!-- Iterate through project resources-->
      <div *ngFor="let resource of projectResources" >
        <mat-grid-tile class="projectResourceTile">
          <mat-select style="width: 100px" [value]="getUserResourceAccessLevel(projectMember.uoaId, resource).name" placeholder="No Access">
            <mat-option *ngFor="let accessLevel of resource.accessLevels" [value]="accessLevel.name" (click)="updateProjectResourceGroupAccess(accessLevel, projectMember, resource)">{{accessLevel.name}}</mat-option>
            <mat-option (click)="deleteProjectResourceGroupAccess(getUserResourceAccessLevel(projectMember.uoaId, resource), projectMember, resource)">No Access</mat-option>
          </mat-select>
        </mat-grid-tile>
      </div>
      <!--End iterating through project resources-->
    </div>
    <!--End iterating through project members-->
  </mat-grid-list>

  <br />
  <div style="display: flex; justify-content: flex-end;">
      <input placeholder="UoA ID" style="width: 100px" type="number" [(ngModel)]="newUserUoaId"><br/>
      <button (click)="addProjectMember()" mat-raised-button color="primary">Add User</button>
  </div>

  <br />
  <div *ngIf="resourceAccessNotice" [innerHTML]="resourceAccessNotice" class="resourceAccessNotice"></div>

</mat-card>
