@import "../../../variables";
@import '../../../styles';

.search-results-info {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

.search-results-text {
  color: $color-pink !important;
  font-weight: 500;
  font-size: 1.2em !important;
  font-style: italic;
}

.mat-select-trigger {
  font-size: 22.4px !important;
}
