@import '../../../styles';

.search-results-text {
  color: $color-pink !important;
  font-weight: 500;
  font-style: italic;
}

.list-item {
  padding-top: 3px;
  padding-bottom: 3px;
}

.item-title {
  color: #b13462;
  font-size: 18px !important;
  font-weight: 500 !important;
  padding-bottom: 5px !important;
}

.item-subtitle {
  color: #004059;
  font-size: 14px;
  padding-bottom: 7px !important;
}

.list-item img {
  width: 64px;
  height: 64px;
}

.list-item mat-chip-list {
  display: block;
}


.list-item mat-chip-list mat-chip {
  font-size: 12px !important;
  padding-top: 0;
  padding-bottom: 0;
}

.search-paginator {
  background-color: $color-background;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
}

//Paginator items per page selector/popup font size
/deep/ .search-paginator .mat-select, /deep/ .mat-option-text, /deep/ .search-paginator .mat-select-value {
  font-size: 16px;
}

//Card Result Styles
.card-result-image {
  height: 50%;
  width: 100%;
  background-color: #fff;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}

.card-result-content {
  background-color: $color-browse-tile-bg;
  height: 50%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 50%;
  color: $light-primary-text;
}

.card-result-title {
  width: 90%;
  height: 25%;
  position: relative;
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: 18px !important;
  font-weight: 500 !important;
  overflow: hidden;
}

.card-result-subtitle {
  width: 90%;
  height: 55%;
  position: relative;
  padding: 0;
  margin: 0 auto;
  font-size: 14px;
  overflow: hidden;
}

.card-result-chip-list {
  width: 90%;
  height: 20%;
  position: relative;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}

.inline-category-list {
  margin-top:1.25em;
  margin-bottom: 0.25em;
}

.search-results-title {
  margin-top:2.5em;
}

.refine-search {
  margin-top:0em;
}

.refine-search-text {
  margin-bottom:0px;
}

.results-list:empty {
  margin: auto;
	width: 500px;
	height: 600px; /* change height to see repeat-y behavior */

	background-image:
	radial-gradient( circle 50px at 50px 50px, lightgray 99%, transparent 0 ),
	linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% ),
	linear-gradient( lightgray 20px, transparent 0 ),
	linear-gradient( lightgray 20px, transparent 0 ),
	linear-gradient( lightgray 20px, transparent 0 ),
	linear-gradient( lightgray 20px, transparent 0 );

	background-repeat: repeat-y;

	background-size:
	100px 200px, /* circle */
	50px 200px, /* highlight */
	150px 200px,
	350px 200px,
	300px 200px,
	250px 200px;

	background-position:
	0 0, /* circle */
	0 0, /* highlight */
	120px 0,
	120px 40px,
	120px 80px,
	120px 120px;

	animation: shine 1s infinite;
}

@keyframes shine {
	to {
		background-position:
		0 0,
		100% 0, /* move highlight to right */
		120px 0,
		120px 40px,
		120px 80px,
		120px 120px;
	}
}
