<div class="inset-content">
  <div class="product-list">
    <div class="row">
      <div *ngFor="let policy of policies" class="col s12 m4 l2">
        <div class="card">
          <div class="card-image" >
            <img class="product-image" [src]="policy.image">
          </div>
          <div class="card-content" style="padding:15px;">
            <span class="product-title">{{policy.title}}</span>
            <span class="product-category">{{policy.field_category}}</span>
          </div>
          <div class="card-content" style="padding-top:0;padding-left:15px;padding-right:15px;">
            <p style="font-size: 13px;">{{getAbstract(policy.body)}}</p>
          </div>
          <div class="card-action" style="text-align: right;padding: 15px;padding-top: 7px; padding-bottom: 7px;">
            <a [routerLink]="['details', policy.id]" style="text-transform: uppercase;margin-right: 0;">{{policy.field_cost}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
