@import "../../styles";

.avatar-image {
  background-size: cover;
  margin-top: 1em;
  margin-bottom: 1em;
}

.button-container {
  text-align: right;
}

.input-full-width {
  width:100%;
}

.feedback-card {
  //font-family: $body-font-family;
}

.feedback-card-xs {
  //@extend .feedback-card;

}
