<mat-card class="feedback-card">
  <mat-card-header>
    <div class="avatar-image" mat-card-avatar [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}"></div>
    <h2>{{title}}</h2>
  </mat-card-header>

  <form [formGroup]="feedbackForm" novalidate>
    <mat-input-container class="input-full-width">
      <input matInput placeholder="Name" formControlName="name" class="input-full-width">
    </mat-input-container>

    <mat-input-container class="input-full-width">
      <input matInput placeholder="Email" formControlName="email" >
    </mat-input-container>

    <mat-input-container class="input-full-width">
      <textarea matInput placeholder="Comments" formControlName="message"></textarea>
    </mat-input-container>
  </form>

  <div class="button-container">
    <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
  </div>
</mat-card>
