<div class="inset-content">
<div class="product-list">
   <p>Search through all categories via lifecycle here</p>
</div>    
<div class="product-list">
    <div class="row">
        <div *ngFor="let product of products | async" class="col s12 m4 l2">
            <div class="card" >
                <div class="card-image" >
                    <img class="product-image" src="http://lorempixel.com/160/200/technics">
                </div>
            <div class="card-content">
                <span class="product-title"><a [routerLink]="['details', product.nid]" style="text-transform: uppercase;margin-right: 0;">{{product.title}}</a></span>
                <span class="product-category">{{product.type}}</span>
            </div>
            </div>
        </div>
    </div>
</div>
</div>