@import "../../variables";
@import '../../styles';



#main {

  max-width: $lg-thresh-min;
  margin: 2em 1em 1em 1em;
}

.contact-info-text{
  font-family: $body-font-family;
  font-size: $body-font-size;
  color: $body-font-color;
}

.contact-info-icon{
  font-size: 2em;
  color: $color-icon;
}

.contact-info-icon-xs{
  font-size: 1.5em;
}


