
div.main {
  padding-left: 4em;
  padding-top: 3em;
}

md-list-item.contact-info-item {
  height: 100px;
  padding-top: 2em;

}

md-icon.contact-info-icon {
  font-size: 50px;
  position: relative;
  text-align: center;
  top:-0.25em;
}

md-list-item .contact-info-text {
  //margin-left: 50px;
  padding-left: 4em;
}



