@import "../../styles";


.contact-info-text{
  //font-family: $body-font-family;
  //font-size: $body-font-size;
  //color: $body-font-color;
}

.contact-info-icon{
  font-size: 2em;
  color: $color-icon;
}

.contact-info-icon-xs{
  font-size: 1.5em;
  color: $color-icon;
}


