@import "../../styles";

.mat-chip {
  color:$body-dark-bg-font-color !important;
}

.md-chip-gt-md{
  ///max-width:210px;
}

#img-wheel{
  //min-width:100px;
  max-height: 230px;
  min-width:150px;
}
