@import "../../../../styles";

.component {
  max-width: $width-page-max;
}

.browse-tile {
  cursor: pointer;
  background-color: $color-browse-tile-bg;
  text-decoration: none;
}

.tile-content {
  text-align: center;
}

.tile-text {
  color: $browse-tile-font-color;
  transform: translate(0%, -50%);
  @include mat-typography-level-to-styles($app-browse-grid-typography, body-1);
}

.tile-icon {
  color: $browse-tile-font-color;
  font-size: mat-font-size($app-browse-grid-typography, body-2);
  font-weight: mat-font-weight($app-browse-grid-typography, body-2);
  width: 100%;
  position: absolute;
  bottom: 20%;
  left: 0; // For IE11, so that the icon will be centred, despite absolute positioning being used
}
