<div class="search-bar" fxLayout="row" fxLayoutGap="1em">
  <md-select fxFlex="200px" fxHide.lt-sm floatPlaceholder="never" placeholder="Categories" [(ngModel)]="category">
    <md-option *ngFor="let category of categoriesValue" [value]="category.id">
      {{category.name}}
    </md-option>
  </md-select>

  <md-form-field class="search-box" fxFlex floatPlaceholder="never">
    <button mdPrefix md-icon-button>
      <md-icon>search</md-icon>
    </button>
    <input mdInput placeholder="Search" [(ngModel)]="searchText">
    <button mdSuffix (click)="clearSearchText()" md-icon-button>
      <md-icon>close</md-icon>
    </button>
  </md-form-field>
</div>
