<div class="search-bar" fxLayout="row" fxLayoutGap="1em">
  <mat-select fxFlex="200px" fxHide.lt-sm floatPlaceholder="never" placeholder="Categories" [(ngModel)]="category">
    <mat-option *ngFor="let category of categoriesValue" [value]="category.id">
      {{category.name}}
    </mat-option>
  </mat-select>

  <mat-form-field class="search-box" ngClass.xs="search-box-xs" fxFlex floatPlaceholder="never">
    <button mdPrefix mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <input mdInput placeholder="Search" [(ngModel)]="searchText">
    <button mdSuffix (click)="clearSearchText()" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
