//@import "../../variables";
//@import '~@angular/material/theming';

@import "../../styles";

$md-select-width: 200px;
$md-select-flex: 1;
$search-flex: 4;

.search-bar {
  height: 100%;
}

.search-box {
  margin-top: 15px;
}

.search-box-xs {
  margin-top: 5px;
}

.mat-option {
  font-size: mat-font-size($app-search-bar-select-typography, body-1) !important;
  font-weight: mat-font-weight($app-search-bar-select-typography, body-1) !important;
}


