
<md-sidenav-container class="sidenav-container">
  <md-sidenav #sidenav [mode]="sideNavMode" [opened]="isSideNavOpened">
    <md-toolbar color="primary">
      <button md-button class="md-button-small" (click)="sidenav.toggle()">
        <md-icon>device_hub</md-icon>
      </button>
      <span>Research Hub</span>
    </md-toolbar>
    <md-list>
      <md-list-item (click)="sidenav.toggle()">Home</md-list-item>
      <md-list-item (click)="sidenav.toggle()">Search & Browse</md-list-item>
      <md-list-item (click)="sidenav.toggle()">Provide Feedback</md-list-item>
      <md-list-item (click)="sidenav.toggle()">About CeR</md-list-item>
      <md-list-item (click)="sidenav.toggle()">Contact Us</md-list-item>
    </md-list>
  </md-sidenav>


  <div class="sidenav-content-wrapper">
    <div class="sidenav-content">
      <div class="primary-header">
        <md-toolbar color="primary">
          <md-input-container class="search-box" floatPlaceholder="never">
            <input mdInput type="search" placeholder="Search" [(ngModel)]="searchText">
          </md-input-container>
        </md-toolbar>

        <div>
          <button md-button class="md-button-small menu-button" (click)="sidenav.toggle()" *ngIf="isScreenSmall">
            <md-icon>menu</md-icon>
          </button>
          <h1>Home</h1>
        </div>
      </div>

      <div>
        Lorem ipsum dolor sit amet, pede a libero aenean phasellus, lectus metus sint ut risus, fusce
        vel in pellentesque. Nisl rutrum etiam morbi consectetuer tempor magna, aenean nullam nunc id,
        neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
        Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
        cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
        sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu
      </div>
    </div>
    <footer>
      <div class="logo">
        <a href="https://auckland.ac.nz" target="_blank">
          <img src="assets/uoa-logo.svg">
        </a>
      </div>
      <div class="copyright">
        <a href="http://eresearch.auckland.ac.nz" target="_blank">
          Copyright © {{getYear()}}, The Centre for eResearch, The University of Auckland
        </a>
      </div>
    </footer>
  </div>
</md-sidenav-container>
