
/*
 * Text styles
 */

html {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

p {
  color: white;
}

a {
  color: white;
}

/*
 * Button styles
 */

.md-button-small {
  min-width: 1% !important;
}

.menu-button {
  margin-left: 10px !important;
  display: inline-block;
  color: white !important;
  top: -3px !important;
}

/*
 * SideNav
 */

.sidenav-container {
  min-height: calc(100vh);
}

.sidenav-container md-sidenav {
  min-width: 250px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

.sidenav-container md-sidenav md-list {
  padding-left: 1em;
  padding-top: 1em;
}

.sidenav-content-wrapper {
  display: flex;
  flex-direction: column;
}

.sidenav-content {
  flex: 1;
  min-height: calc(100vh - 100px);
}

.sidenav-content md-toolbar {
  /*box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12) !important;*/
}

.primary-header {
  background: #3f51b5;
}

.primary-header h1 {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
  padding: 50px;
}

/*
 * Footer
 */

footer {
  background-color: #3f51b5;
  height: 100px;
  flex: none;
  padding-left: 2em;
  padding-right: 2em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer .logo {
  flex: 2;
  justify-content: flex-start;
}

footer .copyright {
  text-align: right;

  order: 1;
  flex: 4;
  justify-content: flex-end;
}

footer .logo img {
  display: block;
  height: 70px;
}

footer .copyright a {
  text-decoration: none;
}

/*
 * Re arrange footer / content on small screens
 */

@media (max-width: 800px) {
  footer {
    flex-direction: column;
    height: 200px;
    min-height: 100px;
  }

  footer .logo {
    flex: 1.6;

    display: flex; /* Also makes this a flexbox which we can centre items in */
    align-items: center;
  }

  footer .copyright {
    text-align: center;
    flex: 1;
  }

  .sidenav-content {
    min-height: calc(100vh - 200px);
  }

  .primary-header h1 {
    padding: 24px;
    font-size: 20px;
    display: inline-block;
  }
}

@media (max-width: 600px) {
  .primary-header h1 {
    padding: 24px 0;
  }
}
