@import '../styles';
@import '~github-fork-ribbon-css/gh-fork-ribbon';


/*
 * When using Angular 2 [hidden] parameter, hides element and keeps space
 */

[hidden] {
  visibility: hidden !important;
}

/*
 * Button styles
 */

.menu-button {
  color: white !important;
  top: 4px;
  right: 8px;
}

.menu-button-xs {
  @extend .menu-button;
  top: 2px;
  right: 8px;
}



/*
 * Navigation list
 */

.sidenav-container mat-list-item mat-icon {
  color: $color-icon;
  font-size: mat-font-size($app-sidenav-list-typography, body-2) !important;
  font-weight: mat-font-weight($app-sidenav-list-typography, body-2) !important;
}

.sidenav-container mat-list-item .mat-line {
  font-size: mat-font-size($app-sidenav-list-typography, body-1) !important;
  font-weight: mat-font-weight($app-sidenav-list-typography, body-1) !important;
}

/*
 * User Menu
 */

.user-menu-list {
  margin-bottom: 8px;
}

.user-menu-list mat-list-item mat-icon {
  color: $color-icon;
}

.user-menu-list mat-list-item p {
  font-size: 0.7em !important;
}

/*
 * SideNav
 */

.sidenav-container mat-sidenav mat-toolbar.toolbar{
  min-height: $primary-header-height;
}

.sidenav-container mat-sidenav mat-toolbar.toolbar-xs{
  min-height: $primary-header-xs-height;
}

.sidenav-container mat-sidenav mat-toolbar button mat-icon {
  font-size: mat-font-size($app-sidenav-toolbar-typography, button) !important;
  font-weight: mat-font-weight($app-sidenav-toolbar-typography, button) !important;
  color:white;
}

.sidenav-container mat-sidenav mat-toolbar span {
  font-size: mat-font-size($app-sidenav-toolbar-typography, body-1) !important;
  font-weight: mat-font-weight($app-sidenav-toolbar-typography, body-1) !important;
  color:white;
}

.sidenav-container {
  min-height: calc(100vh);
}

.sidenav-container mat-sidenav {
  min-width: $sidenav-width;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  background-color: $color-background;
}

.sidenav-container .mat-drawer-content {
  margin-left: $sidenav-width !important;

}

.sidenav-container mat-sidenav mat-list {
  padding-left: 1em;
  padding-top: 1em;
}

.sidenav-content-wrapper {
  display: flex;
  flex-direction: column;
}

.sidenav-content {
  flex: 1;
  min-height: calc(100vh - #{$footer-height});
  background-color: $color-background;
}

.sidenav-content-xs {
  @extend .sidenav-content;
  min-height: calc(100vh - #{$footer-xs-height});
}

.footer-a-xs {
  margin-top: 2.5em;
  margin-right: 0 !important;
  margin-bottom: 0.5em;
}

.primary-header {
  min-height:$primary-header-height;
  background: $color-primary;
  padding-left: $gt-xs-offset;
  padding-right: $gt-xs-offset;
}

.primary-header-xs {
  @extend .primary-header;
  min-height: $primary-header-xs-height;
  padding-left: $xs-offset;
  padding-right: $xs-offset;
}

.primary-header h1 {
  margin: 0;
  padding: 0;
  color: white;
  display: inline-block;
  @include mat-typography-level-to-styles($app-primary-header-typography, headline);
}

.primary-header-xs h1 {
  margin: 0;
  padding: 0;
  color: white;
  display: inline-block;
  @include mat-typography-level-to-styles($app-primary-header-typography, headline);
  line-height: 1em;
  margin-bottom: 0.2em;
}


/*
 * Footer
 */

footer {
  background-color: $color-primary;
  height: $footer-height;
  padding-left: 2em;
  padding-right: 2em;
}

.footer-xs {
  @extend footer;
  height: $footer-xs-height;
  padding-left: $xs-offset;
  padding-right: $xs-offset;
}

footer a {
  text-align: left;
  text-decoration: none;
  color: white;
  font-size: mat-font-size($app-base-typography, button) !important; // 14px
  font-weight: mat-font-weight($app-base-typography, caption) !important;
}

footer .logo img {
  display: block;
  height: 5em;
}


/*
 * Breadcrumb styling
 */

breadcrumb span {
  color: $breadcrumb-current-color;
}

breadcrumb a {
  color: $breadcrumb-previous-color;
}

breadcrumb ul {
  padding-left: 0;
}

breadcrumb ul > li {
  display: inline-block;
  zoom:1;
  *display:inline;   /* a fix needed for IE7- */
  cursor: pointer;
}

breadcrumb li:not(:first-child):before {
  padding-left: 0.5em;
  padding-right: 0.4em;
  content: ">";
  cursor: default;
}

/*
 * Re arrange footer / content on small screens
 */

.primary-toolbar {
  //padding-left: 1em;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

app-search-bar {
  height: inherit;
  width: 100%;
}

.beta-bar{
  cursor:pointer;
  background-color: $color-orange;
  color:$body-dark-bg-font-color;
  text-align: center;
}

.beta-bar a {
  color:$body-dark-bg-font-color;
}

/*
 * Github fork ribbon styling
 */

.github-fork-ribbon.left-bottom:before
{
  background-color: $color-orange;
}

.github-fork-ribbon.left-bottom {
  box-sizing: unset;
}

.example-spacer {
  flex: 1 1 auto;
}

// HACK
// https://github.com/angular/material2/issues/6958

.sidenav-container .mat-drawer-content {
  margin-left: $sidenav-width !important;

}

@media (max-width: $md-thresh-min) {

    .sidenav-container .mat-drawer-content {
      margin-left: 0 !important;
      //flex-grow: 1;
    }

}

