@import "../variables";
@import '../styles';

/*
 * When using Angular 2 [hidden] parameter, hides element and keeps space
 */

[hidden] {
  visibility: hidden !important;
}

/*
 * Button styles
 */

.menu-button {
  margin-left: 10px !important;
  display: inline-block;
  color: white !important;
  top: -3px !important;
}

/*
 * Fixes so that select lines up with md-input-container elements
 * and contains same sized text
 */

.mat-select-trigger {
  font-size: 20px !important;
}

.mat-select-underline {
  bottom: -10px !important;
}

/*
 * Navigation list
 */

.sidenav-container md-list-item md-icon {
  color: $color-text;
}

/*
 * SideNav
 */

.sidenav-container {
  min-height: calc(100vh);
}

.sidenav-container md-sidenav {
  min-width: $sidenav-width;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

.sidenav-container md-sidenav md-list {
  padding-left: 1em;
  padding-top: 1em;
}

.sidenav-content-wrapper {
  display: flex;
  flex-direction: column;
}

.sidenav-content {
  flex: 1;
  min-height: calc(100vh - 100px);
}

.primary-header {
  background: $color-primary;
}

.primary-header h1 {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
  padding: 50px;
  color: white;
}

/*
 * Footer
 */

footer {
  background-color: $color-primary;
  height: 100px;
  flex: none;
  padding-left: 2em;
  padding-right: 2em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer .logo {
  flex: 2;
  justify-content: flex-start;
}

footer .copyright {
  text-align: right;

  order: 1;
  flex: 4;
  justify-content: flex-end;
}

footer .logo img {
  display: block;
  height: 70px;
}

footer .copyright a {
  text-decoration: none;
  color: white;
}

/*
 * Breadcrumb styling
 */

breadcrumb ul {
  padding-left: 0.5em;
}

ul > li {
  display: inline-block;
  zoom:1;
  *display:inline;   /* a fix needed for IE7- */
  cursor: pointer;
}

li:not(:first-child):before {
  padding-left: 0.5em;
  padding-right: 0.4em;
  content: ">";
  cursor: default;
}

/*
 * Re arrange footer / content on small screens
 */

.primary-toolbar {
  padding-left: 1em;
}

app-search-bar {
  height: inherit;
  width: 100%;
}

//@media (max-width: $sm-thresh-max) {
@media (max-width: $tablet-portrait-max) {

    .primary-toolbar, app-search-bar, .primary-toolbar .mat-toolbar-layout, .primary-toolbar .mat-toolbar-row   {
      height: $mat-toolbar-height-desktop * 2 !important;
    }

    footer {
      flex-direction: column;
      height: 200px;
      min-height: 100px;
    }

    footer .logo {
      flex: 1.6;

      display: flex; /* Also makes this a flexbox which we can centre items in */
      align-items: center;
    }

    footer .copyright {
      text-align: center;
      flex: 1;
    }

    .sidenav-content {
      min-height: calc(100vh - 200px);
    }

    .primary-header h1 {
      padding: 0;
      font-size: 20px;
      display: inline-block;
    }
}


/*
 * Centering of page content
 */

router-outlet + * {
  display: block;
  margin: 5em auto 5em auto;

}

@media (max-width: $mobile-portrait-max){
  router-outlet + * {
    background-color: red;
    max-width: calc(#{$mobile-portrait-max} - 2 * #{$mobile-portrait-margin});
  }
}

@media (min-width: $mobile-landscape-min) and (max-width: $mobile-landscape-max){
  router-outlet + * {
    background-color: blue;
    max-width: calc(#{$mobile-landscape-max} - 2 * #{$mobile-landscape-margin});
  }
}

@media (min-width: $tablet-portrait-min) and (max-width: $tablet-portrait-max){
  router-outlet + * {
    background-color: yellow;
    max-width: calc(#{$tablet-portrait-max} - 2 * #{$tablet-portrait-margin});
  }
}

@media (min-width: $tablet-landscape-min) and (max-width: $tablet-landscape-max){
  router-outlet + * {
    background-color: green;
    max-width: calc(#{$tablet-landscape-max} - 2 * #{$tablet-landscape-margin});
  }
}

@media (min-width: $desktop-width-min){
  router-outlet + * {
    background-color: purple;
    max-width: calc(#{$desktop-width-min} - 2 * #{$desktop-margin});
  }
}






//// extra small
//@media (max-width: $xs-thresh-max) {
//  router-outlet + * {
//    //margin: 2em 1em 2em 1em;
//    //width: 100%;
//    max-width: calc(#{$xs-thresh-max} - 2 * #{$xs-margin});
//    //background-color: red;
//  }
//}
//
//// small
//@media (min-width: $sm-thresh-min) and (max-width: $sm-thresh-max) {
//  router-outlet + * {
//    //width: #{$width-percentage};
//    max-width: calc(#{$sm-thresh-max} - 2 * #{$sm-margin});
//    //background-color: darkseagreen;
//  }
//}
//
//// medium
////@media (min-width: $md-thresh-min) and (max-width: $lg-thresh-max) {
//@media (min-width: $md-thresh-min) and (max-width: $md-thresh-max) {
//  router-outlet + * {
//    max-width: calc(#{$md-thresh-max} - #{$sidenav-width} - 2 * #{$md-margin});
//    //background-color: cornflowerblue;
//  }
//}
//
//// large
////@media (min-width: $md-thresh-min) and (max-width: $lg-thresh-max) {
//@media (min-width: $lg-thresh-min) and (max-width: $lg-thresh-max) {
//  router-outlet + * {
//    max-width: calc(#{$lg-thresh-max} - #{$sidenav-width} - 2 * #{$lg-margin});
//    //background-color: lightgoldenrodyellow;
//  }
//}
//
//// extra large
//@media (min-width: $xl-thresh-min) {
//  router-outlet + * {
////    width: calc(#{$width-percentage} - #{$sidenav-width});
//    max-width: calc(#{$xl-thresh-min} - #{$sidenav-width} - 2 * #{$xl-margin});
//    //background-color: tomato;
//  }
//}


