<mat-card>
  <mat-card-header class="request-card-header">
    <img mat-card-avatar [src]="apiService.getAssetUrl(image)">
    <h1>{{title}}</h1>
  </mat-card-header>

  <p style="padding-left: 24px;">In order to provide you with research storage please complete the general information in the following sections. If you have any questions feel free to add this into the comments field in Section 4.</p>

  <div #resultsDummyHeader style="margin-top: 3em;"></div>
  <mat-horizontal-stepper #stepper linear="true">
    <mat-step [editable]="isEditable" [stepControl]="storageTypeForm">
      <form [formGroup]="storageTypeForm" novalidate>

        <ng-template matStepLabel>Storage Type</ng-template>

        <div class="step-form-container">
          <div class="form-group">
            <h3>Do you want to request new storage or extend existing storage?</h3>
            <mat-radio-group fxLayout="column" fxLayoutGap="1em" formControlName="storageType">
              <mat-radio-button value="New">New</mat-radio-button>
              <mat-radio-button value="Existing">Existing</mat-radio-button>
              <mat-error *ngIf="storageTypeForm.controls.storageType.invalid && storageTypeClicked">* Please choose an option</mat-error>
            </mat-radio-group>
          </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="end">
          <div fxLayout="row" fxLayoutAlign="end">
            <button mat-raised-button color="accent" matStepperNext (click)="storageTypeClicked = true;">Next</button>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step [editable]="isEditable" [stepControl]="projectForm">
      <form [formGroup]="projectForm" novalidate>
        <ng-template matStepLabel>General Information</ng-template>

        <div class="step-form-container">
          <div class="form-group">
            <h3>Project title</h3>
            <mat-form-field floatPlaceholder="never" class="no-floating-label input-full-width">
              <input matInput placeholder="Project title" formControlName="title">
              <mat-error *ngIf="projectForm.controls.title.invalid">* Please enter a title</mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <h3>Brief abstract or summary of the research for this storage</h3>
            <mat-form-field class="no-floating-label input-full-width" floatPlaceholder="never">
              <textarea matInput placeholder="Project abstract" formControlName="abstract"></textarea>
              <mat-error *ngIf="projectForm.controls.abstract.invalid">* Please enter an abstract</mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <h3>Estimated project end date</h3>
            <mat-form-field floatPlaceholder="never" class="no-floating-label">
              <input matInput [matDatepicker]="picker" [min]="dateToday" formControlName="endDate" placeholder="Project end date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="projectForm.controls.endDate.invalid">* Please choose a date</mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <h3>Please choose at least one FOR code from the Australian and New Zealand Standard Research Classification (ANZSRC)</h3>
            <mat-form-field floatPlaceholder="never" class="no-floating-label input-full-width">
              <mat-select placeholder="Field of research" formControlName="fieldOfResearch" multiple>
                <mat-option *ngFor="let item of fieldOfResearchCodes" [value]="item">{{item}}</mat-option>
              </mat-select>
              <mat-error *ngIf="projectForm.controls.fieldOfResearch.invalid">* Please choose at least one item from the list</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="end">
          <div fxLayout="row" fxLayoutAlign="end">
            <button mat-raised-button color="accent" matStepperNext>Next</button>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step [editable]="isEditable" [stepControl]="dataInfoForm">
      <form [formGroup]="dataInfoForm" novalidate>
        <ng-template matStepLabel>Data Information</ng-template>

        <div class="step-form-container">
            <div class="form-group">
              <h3>To help us store your data appropriately please tick any of the following that apply to the data being stored [optional]</h3>
              <mat-form-field floatPlaceholder="never" class="no-floating-label input-full-width">
                <mat-select placeholder="Data information" formControlName="dataRequirements" multiple>
                  <mat-option *ngFor="let item of dataRequirements" [value]="item">{{item}}</mat-option>
                </mat-select>
                <mat-error *ngIf="dataInfoForm.controls.dataRequirements.invalid">* Please choose at least one item from the list</mat-error>
              </mat-form-field>
              <mat-form-field style="margin-top: 1em;" *ngIf="showOtherField" floatPlaceholder="never" class="no-floating-label input-full-width">
                <input matInput placeholder="Other" formControlName="dataRequirementsOther">
                <mat-error *ngIf="dataInfoForm.controls.dataRequirementsOther.invalid">* Please enter a name for other</mat-error>
              </mat-form-field>
            </div>

            <div class="form-group">
              <h3>Please provide a short name for your storage folder (e.g. GDC-data)? [optional]</h3>
              <mat-form-field floatPlaceholder="never" class="no-floating-label input-full-width">
                <input matInput placeholder="Short name" formControlName="shortName">
                <mat-error *ngIf="dataInfoForm.controls.shortName.invalid">* Please enter a short name</mat-error>
              </mat-form-field>
            </div>

          <div class="form-group">
            <h3>Please provide a list of people who require access</h3>
            <div class="flex-hack" fxLayout="column" formArrayName="projectMembers">
              <div fxLayout="row" fxLayoutAlign="start center" class="flex-hack data-person-row" fxLayoutGap="1.5em" *ngFor="let member of projectMembers.controls; let i = index">
                <div class="flex-hack" style="width: 100%; max-width: calc(100% - 50px);" fxFlex="100" fxLayout="column" fxLayoutGap="1em" [formGroupName]="i">
                  <div fxFlex="100" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em" class="flex-hack data-person-row-inner">
                    <mat-form-field fxFlex="grow" floatPlaceholder="never" class="no-floating-label">
                      <input matInput placeholder="First name" formControlName="firstName">
                      <mat-error *ngIf="member.controls.firstName.invalid">* Please enter a first name</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="grow" floatPlaceholder="never" class="no-floating-label">
                      <input matInput placeholder="Last name" formControlName="lastName">
                      <mat-error *ngIf="member.controls.lastName.invalid">* Please enter a last name</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="grow" floatPlaceholder="never" class="no-floating-label">
                      <input matInput placeholder="Email" formControlName="email">
                      <mat-error *ngIf="member.controls.email.invalid">* Please enter an email</mat-error>
                    </mat-form-field>
                  </div>

                  <div fxFlex="100" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em" class="flex-hack data-person-row-inner">
                    <mat-form-field fxFlex="grow" floatPlaceholder="never" class="no-floating-label">
                      <input matInput placeholder="Username" formControlName="username">
                      <mat-error *ngIf="member.controls.username.invalid">* Please enter a username</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="grow" floatPlaceholder="never" class="no-floating-label">
                      <mat-select placeholder="Access" formControlName="access">
                        <mat-option *ngFor="let item of access;" [value]="item">{{item}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="member.controls.access.invalid">* Please choose an option</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="grow" floatPlaceholder="never" class="no-floating-label">
                      <mat-select placeholder="Role" formControlName="roles" multiple>
                        <mat-option *ngFor="let item of roleTypes;" [value]="item">{{item}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="member.controls.roles.invalid">* Please choose a role</mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div fxFlex="40px">
                  <button mat-icon-button (click)="deletePerson(i)" style="color: #757575;"><mat-icon>delete</mat-icon></button>
                </div>
              </div>
              <mat-error *ngIf="dataInfoForm.controls.projectMembers.hasError('required')">* Please add at least 1 person</mat-error>
              <div fxLayout="row" fxLayoutAlign="end center">
                <button mat-button color="primary" (click)="addNewPerson()">Add Person</button>
              </div>
            </div>
          </div>
        </div>

        <div style="margin-top: 3em;" fxLayout="column" fxLayoutAlign="end">
          <div fxLayout="row" fxLayoutAlign="end">
            <button mat-raised-button color="accent" matStepperNext>Next</button>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step [editable]="isEditable" [stepControl]="dataSizeForm">
      <form [formGroup]="dataSizeForm" novalidate>
        <ng-template matStepLabel>Data Size</ng-template>

        <div class="step-form-container">
          <div class="form-group">
            <h3>Estimate how much storage you need in the next 12 months</h3>
            <div fxLayout="row" fxLayoutGap="1em">
              <mat-form-field>
                <input matInput placeholder="Amount" formControlName="sizeThisYear" type="number" min="1">
                <mat-error *ngIf="dataSizeForm.controls.sizeThisYear.invalid">* Please enter a value above 0</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Unit" formControlName="unitThisYear">
                  <mat-option *ngFor="let unit of units" [value]="unit">
                    {{unit}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="dataSizeForm.controls.unitThisYear.invalid">* Please choose an option</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="form-group" *ngIf="showSizeNextYear">
            <h3>Estimate how much storage you need for the entire project duration</h3>
            <div fxLayout="row" fxLayoutGap="1em">
              <mat-form-field>
                <input matInput placeholder="Amount" formControlName="sizeNextYear" type="number" min="1">
                <mat-error *ngIf="dataSizeForm.controls.sizeNextYear.invalid">* Please enter a value above 0</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Unit" formControlName="unitNextYear">
                  <mat-option *ngFor="let unit of units" [value]="unit">
                    {{unit}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="dataSizeForm.controls.unitNextYear.invalid">* Please choose an option</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="form-group">
            <h3>Comments? [optional]</h3>
            <mat-form-field floatPlaceholder="never" class="no-floating-label input-full-width">
              <textarea matInput placeholder="Comments" formControlName="comments"></textarea>
            </mat-form-field>
          </div>

          <div class="step-overlay" fxLayout="row" fxLayoutAlign="center center" *ngIf="submitting">
            <mat-spinner></mat-spinner>
          </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="end">
          <div fxLayout="row" fxLayoutAlign="end">
            <button mat-raised-button color="accent" (click)="submit()" [disabled]="submitting">Request Storage</button>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step [editable]="isEditable">
      <ng-template matStepLabel>Done</ng-template>
      <div class="step-form-container">
        <h3>Request submitted</h3>
        <p>Your storage request has been submitted and an acknowledgement e-mail sent to <a *ngIf="authService.user" [href]="'mailto:' + authService.user.mail" target="_blank">{{authService.user.mail}}</a>.</p>
        <p>You may view your request here: <a *ngIf="response" [href]="response.ticketUrl"  target="_blank">{{response.ticketNumber}}</a></p>
      </div>
      <div fxLayout="column" fxLayoutAlign="end">
        <div fxLayout="row" fxLayoutAlign="end">
          <button mat-raised-button color="accent" [routerLink]="['/content', 49]">Back to Research Storage</button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>
