
<div style="margin-left: auto; margin-right: auto; margin-top: 50px; margin-bottom: 50px; width: 1000px;padding-left: 35px;padding-right: 35px;padding-top: 35px;">
    <div class="row">
        <div *ngFor="let offer of offers" class="col s12 m4 l3">
            <div class="card">
                <div class="card-image" >
                    <img style="border-radius: 1px;min-width: 160px;min-height: 200px;" [src]="offer.image">
                </div>
                <div class="card-content" style="padding:15px;">
                    <span class="product-title">{{offer.title}}</span>
                    <span class="product-category">{{offer.field_category}}</span>
                </div>
                <div class="card-content" style="padding-top:0;padding-left:15px;padding-right:15px;">
                    <p style="font-size: 13px;">{{getAbstract(offer.body)}}</p>
                </div>
                <div class="card-action" style="text-align: right;padding: 15px;padding-top: 7px; padding-bottom: 7px;">
                    <a [routerLink]="['details', offer.id]" style="text-transform: uppercase;margin-right: 0;">{{offer.field_cost}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
