<div style="margin-bottom: 2em;">
  <h2>Thank you!</h2>
  <p>We are developing the ResearchHub further and would be grateful for your feedback.
    This will give us pointers for user-led refinement and further development of the interface content displayed
    in the ResearchHub.
  </p>
  <p>
    You can also register your interest in helping our User Experience Specialist running through a usability
    study.
  </p>
  <p>
    Thank you,<br/>
    The Development Team
  </p>
</div>

<div fxLayout="row" fxLayoutGap="1em">
  <a mat-raised-button color="primary" href="https://docs.google.com/forms/d/1snpoqG3sbBPAps4QKK4TpbYxR3CSDOKVpKdc8lAKMjY" target="_blank" (click)="analyticsService.trackFeedback(location.path())">Feedback</a>
  <a mat-raised-button color="accent" href="https://docs.google.com/forms/d/1FqBQXq5cp9Xk_bXqvqOmib9vl47TnXwco1vC9wXBav0" target="_blank" (click)="analyticsService.trackJoinUserStudy(location.path())">Join User Study</a>
</div>
