<!--<form [formGroup]="filtersForm">-->
  <!--<app-autocomplete-search *ngIf="showPersonFilter" [placeholder]="'Person'" [items]="people" formControlName="person"></app-autocomplete-search>-->
  <!--<app-autocomplete-search *ngIf="showOrgUnitFilter" [placeholder]="'Org Unit'" [items]="orgUnits" formControlName="orgUnit" style="display: block; margin-bottom: 1em;"></app-autocomplete-search>-->
  <!--<app-research-activity-toggle *ngIf="showResearchActivityFilter" formControlName="researchActivities"></app-research-activity-toggle>-->
<!--</form>-->
<p>Works!</p>
