<md-toolbar color="primary">
  <button md-icon-button (click)="done()"><md-icon>arrow_back</md-icon></button>
  <span style="font-size: 20px;">Refine</span>
  <span class="example-spacer"></span>
  <button md-icon-button (click)="clear()"><md-icon>clear_all</md-icon></button>

</md-toolbar>
<div class="component filter-theme" ngClass.xs="component-xs filter-theme">
  <form [formGroup]="filtersForm">
    <md-select placeholder="Category" formControlName="category" style="width: 100%;margin-bottom: 20px;">
      <md-option *ngFor="let category of categories" [value]="category.id">
        {{category.name}}
      </md-option>
    </md-select>
    <app-autocomplete-search *ngIf="showPersonFilter" [placeholder]="'Person'" [items]="people" formControlName="person"></app-autocomplete-search>
    <app-autocomplete-search *ngIf="showOrgUnitFilter" [placeholder]="'Organisation unit'" [items]="orgUnits" formControlName="orgUnit" style="display: block;"></app-autocomplete-search>
    <app-research-activity-toggle *ngIf="showResearchActivityFilter" formControlName="researchActivities"></app-research-activity-toggle>
  </form>
</div>
