<!-- 
<div fxLayout="column">
  <h2>Explore research activities</h2>

  <div fxFlex="noshrink">
    <div fxFlex.lt-lg="100%">
      <mat-chip-list ngClass.xs="mat-chip-list-stacked">
        <div *ngFor="let activity of optionsService.researchActivityOptions" [ngClass]="['ra-chip-container', activity.className]" ngStyle.xs="margin-right: 0;">
          <mat-chip fxLayout="row" fxLayoutAlign="start center" [ngClass.lt-md]="{'sm':true}"  [routerLink]="['/search']" [queryParams]="getQueryParams(activity)">
            <span style="padding-left: 0.5em;padding-right: 0.5em;">{{activity.name}}</span>
          </mat-chip>
        </div>
      </mat-chip-list>
    </div>
  </div>
</div>
 -->

<h2>Explore research activities</h2>
<mat-chip-list>
  <div 
    fxLayout="row wrap"
    fxLayout.lt-sm="column"
    fxLayoutAlign="space-between"
    fxLayoutAlign.lt-lg="space-around"
    style="width: 100%">
    <mat-chip 
      *ngFor="let activity of optionsService.researchActivityOptions" [routerLink]="['/search']" [queryParams]="getQueryParams(activity)"
      [ngClass]="[activity.className]"
      [ngClass.xs]="[activity.className, 'mobile-view']">
        {{activity.name}}
    </mat-chip>
  </div>
</mat-chip-list>