<div fxFlex="fill" fxLayout="column">
  <h2>Explore research activities</h2>

  <div class="flex-hack" fxFlex="grow" fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center center" fxLayoutAlign.lt-lg="">
    <div fxFlex.lt-lg="100%">
      <mat-chip-list class.lt-md="mat-chip-list-stacked">
        <div *ngFor="let activity of optionsService.researchActivityOptions" [ngClass]="['ra-chip-container', activity.className]">
          <mat-chip [routerLink]="['/search']" [queryParams]="getQueryParams(activity)">
            {{activity.name}}
          </mat-chip>
        </div>
      </mat-chip-list>
    </div>
  </div>
</div>
