.category-list .mat-chip {
  cursor: pointer;
  color: #004059;
  margin: 0.15em 0px !important; // !important required to override a rule with selectors that have pseudoclasses
  margin-right: 8px !important;
  outline: 0;
  outline: none;
}


.category-list .mat-chip-selected {
  color: white;
}

.category-list.compact {
  .mat-chip, .mat-chip-list {
    font-size: 14px;
  }

  .mat-chip {
    padding: 0.25em 9px;
  }

  mat-chip-list {
    // Hide overflowing chips by setting the height to one line's height.
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    height: 2.2em; // 1em from the chip text + 0.25 x 2 from top/bottom paddings + 0.15 x 2 from top/bottom margins + rest from the highlight shadow.
  }
}
