.category-list .mat-chip {
  cursor: pointer;
  color: #004059;
  margin: 4px 0px !important;
  margin-right: 8px !important;
}

.category-list .mat-chip-selected {
  color: white;
}

/*
.category-list > mat-chip-list {
  // align-self: flex-start;
  overflow: hidden;
  padding-top: 0px;
  outline: 0;
  outline: none;
}

.category-list mat-chip {
  margin: 0px 0px 2px 0px;
  background-color: #e0e0e0;
  color: #004059;
  height: 0.5em;
  cursor: pointer;
}

.category-list mat-chip-selected {
  color: white !important;
}


//Style for vertical mode.
.category-list.vertical {

  > mat-chip-list {
    // align-self: start;
    overflow: visible;
  }
}
*/
