<div *ngIf="product" class="inset-content">
  <div class="card product-detail">
    <div class="card-content product-card">
      <div class="row">
        <div class="col s4 m4 l4" style="padding-right: 20px;">
          <div class="card-image">
            <img [src]="productService.getLogoUrl(product)">
          </div>
        </div>
        <div class="col s8 m8 l8">
          <div class="row">
            <div class="col l8">
              <span class="product-details-title">{{product.title}}</span>
            </div>
            <div class="col l4">
              <a class="review-overview">
                <stars [stars]="4.3"></stars>
                <span style="">50</span>
                <i class="material-icons">person</i>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a>{{productService.getTermNames(product.field_service_provider)}}</a>
            </div>
            <div class="col" style="text-transform: capitalize;">
              <a>{{product.type}}</a>
            </div>
            <div *ngIf="productService.isService(product)" class="col">
              <a>{{productService.getTermNames(product.field_category)}}</a>
            </div>
          </div>
          <div class="row">
            <div class="col right">
              <a style="margin-top:50px;margin-right: 5px;" class="waves-effect waves-light btn" target="_blank" [href]="product.field_link.url">Launch</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top: 20px;">
        <div class="col l12 product-details-body" [innerHtml]="productService.getBodyHtml(product)"></div>
      </div>
    </div>

    <div class="divider" *ngIf="productService.isEducation(product)"></div>
    <div class="card-content product-card" *ngIf="productService.isEducation(product)">
      <div class="row">
        <div class="col">
          <span class="info-category">Overview</span>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6 l6">
          <span class="info-title">Study Level</span>
          <ul>
            <li><span>{{productService.getTermNames(product.field_study_level)}}</span></li>
          </ul>
        </div>
        <div class="col s12 m6 l6">
          <span class="info-title">Programme Relevance</span>
          <ul>
            <li><span>{{productService.getTermNames(product.field_programme)}}</span></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6 l6">
          <span class="info-title">Cost</span>
          <ul>
            <li><span>{{product.field_cost}}</span></li>
          </ul>
        </div>
        <div class="col s12 m6 l6">
          <span class="info-title">Contact</span>
          <ul>
            <li><span>{{product.field_contact_email}}</span></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="divider" *ngIf="productService.isService(product)"></div>
    <div class="card-content product-card" *ngIf="productService.isService(product)">
      <div class="row">
        <div class="col">
          <span class="info-category">Overview</span>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6 l6">
          <span class="info-title">Eligibility</span>
          <ul>
            <li><span>{{productService.getTermNames(product.field_eligibility)}}</span></li>
          </ul>
        </div>
        <div class="col s12 m6 l6">
          <span class="info-title">Requirements</span>
          <ul>
            <li *ngFor="let text of product.field_requirements"><span>{{text}}</span></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6 l6">
          <span class="info-title">Cost</span>
          <ul>
            <li><span>{{product.field_cost}}</span></li>
          </ul>
        </div>
        <div class="col s12 m6 l6">
          <span class="info-title">Lifecycle</span>
          <ul>
            <li><span>{{productService.getTermNames(product.field_research_lifecycle_stage)}}</span></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="divider" *ngIf="productService.isService(product)"></div>
    <div class="card-content product-card" *ngIf="productService.isService(product)">
      <div class="row">
        <div class="col">
          <span class="info-category">Details</span>
        </div>
      </div>
      <div class="row">
        <div class="col l12">
          <span class="info-title">Features</span>
          <ul>
            <li *ngFor="let text of product.field_features"><span>{{text}}</span></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col l12">
          <span class="info-title">Limitations</span>
          <ul>
            <li *ngFor="let text of product.field_cons"><span>{{text}}</span></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col l12">
          <span class="info-title">Considerations</span>
          <ul>
            <li *ngFor="let text of product.field_considerations"><span>{{text}}</span></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="divider" *ngIf="productService.isService(product)"></div>
    <div class="card-content product-card" *ngIf="productService.isService(product)">
      <div class="row">
        <div class="col">
          <span class="info-category">Support</span>
        </div>
      </div>

      <div class="row">
        <div class="col l12">
          <span class="info-title">Support</span>
          <ul>
            <li *ngFor="let text of product.field_support"><span>{{text}}</span></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col l6">
          <span class="info-title">Help & FAQs</span>
          <ul>
            <li *ngFor="let item of product.field_help_faqs"><span><a target="_blank" [href]="item.url">{{item.title}}</a></span></li>
          </ul>
        </div>

        <div class="col l6">
          <span class="info-title">Contact</span>
          <ul>
            <li><span>{{product.field_contact_email}}</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
