<ng-container *ngIf="content">
  <!--<h2>Have you seen {{content.name}} ?</h2>-->
  <h2>Have you seen {{content.name}}?</h2>
  <!--<h3>{{content.name}}</h3>-->
  <div fxLayout="row" fxLayoutGap="5%" fxLayout.lt-lg="column">
    <div fxFlex="auto">
      <p>{{content.summary}}</p>
    </div>
    <!--<div fxFlex="250px" fxFlex.lt-lg="100">-->
    <div class.gt-xs="card-gt-xs">
    <!--<div>-->
      <md-card >
        <img md-card-image [src]="apiService.getAssetUrl(content.image)">
        <md-card-content>
          {{content.name}}
        </md-card-content>
        <md-card-actions>
          <button md-button [routerLink]="content.getDefaultRouterLink()">Details</button>
          <a md-button [href]="content.callToAction" target="_blank">Launch</a>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</ng-container>
