@import "../../styles";


/*
Default tile size
 */

.browse-tile {
  cursor: pointer;
  background-color: $color-pink;
}

.browse-tile a div{
  padding: 1em 1em 1em 1em;
}

.browse-tile a div md-icon {
  text-decoration: none;
  color:$browse-tile-font-color;
  font-size: mat-font-size($app-browse-grid-typography, body-2);
  font-weight: mat-font-weight($app-browse-grid-typography, body-2);
  width:100%;
  text-align: center;
}

.browse-tile a div span {
  color:$browse-tile-font-color;
  text-align: center;
  @include mat-typography-level-to-styles($app-browse-grid-typography, body-1);
}

md-grid-tile a {
  text-decoration: none;
}
