<app-header *ngIf="!embedded"
            [title]="'Browse categories'"
            [description]="'<p>Browse resources and services by category.</p>'">
</app-header>

<div class="component" [ngClass]="{'component-embedded': embedded}" [ngClass.xs]="{'component-embedded': embedded, 'component-xs': !embedded}">
  <h2 *ngIf="embedded">Browse categories</h2>
  <mat-grid-list [cols]="numCols" gutterSize="1em">
    <mat-grid-tile class="browse-tile" *ngFor="let item of menuItems; let i = index;" [colspan]="1" [rowspan]="1" [routerLink]="['/search']" [queryParams]="{ researchActivities: [], searchText: '', category: item.id}">
      <div fxLayout="column" fxLayoutAlign="center center" class="tile-content">
        <span class="tile-text">{{item.name}}</span>
        <mat-icon class="mdi mdi-{{item.icon}} tile-icon "></mat-icon>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
