
@import "../../variables";
@import "../../themes";

#main {

  max-width: $lg-thresh-min;
  margin: 1em 1em 1em 1em;
}


/*
Default tile size
 */

.browse-tile a div{
  padding: 1em 1em 1em 1em;
}

.browse-tile a div md-icon {
  text-decoration: none;
  color:white;
}

.browse-tile a div span {
  font-family: $heading-font-family;
  font-size: 1.2em;
  color:white;
}

.browse-tile a div md-icon {
  font-size: 48px;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}


//
//.browse-card {
//  width: 128px;
//  height: 128px;
//  //background-color: white;
//}
//
//.browse-card a {
//  text-decoration: none;
//}
//
//.browse-card span {
//  font-family: $heading-font-family;
//  font-size: 1.2em;
//}
//
//.browse-card md-icon {
//  font-size: 48px;
//  padding-right: 0.5em;
//  padding-bottom: 0.5em;
//}

md-grid-tile a {
  text-decoration: none;
}
