<div id="main">
  <h2>Media ({{mediaSize}})</h2>
  <md-grid-list cols="{{numCols}}" gutterSize="1em">
    <md-grid-tile *ngFor="let item of menuItems; let i = index;" [colspan]="1" [rowspan]="1" [ngStyle]="getTileColor(i)" class="browse-tile">
      <a fxFlex="grow" routerLink="/browse/{{item.id}}">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em" style="text-align: center;">
          <span>{{item.name}}</span>
          <md-icon>{{item.icon}}</md-icon>
        </div>
      </a>

      <!--
      <md-card class="browse-card" [ngStyle]="getTileColor(i)">
        <div fxLayout="column" fxLayoutAlign="end center" style="height:100%;">
          <md-card-header fxFlex="grow" style="text-align: center;">
            <md-card-title>
              <span style="color:white;">{{item.name}}</span>
            </md-card-title>
          </md-card-header>
          <md-icon>{{item.icon}}</md-icon>
        </div>
      </md-card>
      -->

    </md-grid-tile>
  </md-grid-list>


  <!--
  <md-grid-list cols="{{numCols}}" gutterSize="1em">
    <md-grid-tile *ngFor="let item of menuItems; let i = index" [colspan]="1" [rowspan]="1">
    <a routerLink="/browse/{{item.id}}" routerLinkActive="disabled">
      <md-card class="browse-card" [ngStyle]="getTileColor(i)">
        <div fxLayout="column" fxLayoutAlign="end center" style="height:100%;">
          <md-card-header fxFlex="grow" style="text-align: center;">
            <md-card-title>
              <span style="color:white;">{{item.name}}</span>
            </md-card-title>
          </md-card-header>
          <md-icon>{{item.icon}}</md-icon>
        </div>
      </md-card>
    </a>
    </md-grid-tile>
  </md-grid-list>

  -->
  <app-results-list [results]="results"></app-results-list>
</div>
