<div *ngIf="person">
  <div class="site-content-padded" fxLayout="column" fxLayoutGap="1em">
      <mat-card>
        <div class="div-background-image person-image" [ngStyle]="{'background-image': 'url(' + apiService.getAssetUrl(person.image) + ')'}"></div>
      </mat-card>

      <mat-card>
        <h2>Contact</h2>
        <h3>Email</h3>
        <p>{{person.email}}</p>
      </mat-card>

      <mat-card *ngIf="person.orgUnits.length">
        <h2>Organisational units</h2>
        <mat-nav-list>
          <mat-list-item *ngFor="let item of person.orgUnits" [routerLink]="item.getRouterLink()">
            <h3 mat-line> {{item.title}} </h3>
          </mat-list-item>
        </mat-nav-list>
      </mat-card>

      <mat-card *ngIf="supportedContent && supportedContent.length">
        <h2>Supported resources</h2>
        <mat-nav-list>
          <mat-list-item *ngFor="let item of supportedContent" [routerLink]="item.getRouterLink()">
            <img mat-list-avatar [src]="apiService.getAssetUrl(item.image)">
            <h3 mat-line> {{item.title}} </h3>
            <p mat-line>{{item.getSubtitle()}}</p>
          </mat-list-item>
        </mat-nav-list>
      </mat-card>
  </div>
</div>
