@import 'themes';
@import 'variables';
@import 'typography';




html, body {
  margin: 0;
  padding: 0;
  color:$body-light-bg-font-color;
}

/*
 * Text styles
 https://material.angular.io/guide/typography
 */

h1 {
  margin-top: 0;
  color: $heading-1-font-color;
}


h2 {
  color: $heading-2-font-color;
}

h3 {
  color: $heading-3-font-color;
}

h4 {
  color: $heading-4-font-color;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: $link-light-bg-color;
}

/* app-markdown related styles

  (they don't take effect in the component scss)

 */

@mixin headings {
  h1, h2, h3, h4, h5, h5 {
    @content;
  }
}

@mixin links {
 a {
   @content;
 }
}

.description {
  background-color: $content-summary-bg;
}

.description app-markdown{

  color: $body-light-bg-font-color;

  //@include headings {
  //  color: $body-dark-bg-font-color;
  //}

  //@include links {
  //  color: $link-dark-bg-color-1;
  //}

}

.input-full-width {
  width:100% !important;
}

.search-results-text {
  color: $color-pink !important;
  font-weight: 500;
  //font-size: 1.2em !important;
  font-style: italic;
}

.chip-avatar {
  margin-right: 12px;
  border-radius: 50%;
}


app-markdown h3 {
  color:$heading-2-font-color;
  font-size: mat-font-size($app-base-typography, title) !important;
  font-weight: mat-font-weight($app-base-typography, title) !important;
}

app-markdown h4 {
  color:$heading-3-font-color;
  font-size: mat-font-size($app-base-typography, subheading-2) !important;
  font-weight: mat-font-weight($app-base-typography, subheading-2) !important;
}


/*
Gloabl mat-chip style
 */

mat-chip.mat-chip {
  font-size: mat-font-size($app-chips-typography, button) !important;
  font-weight: mat-font-weight($app-chips-typography, button) !important;
}

.avatar-btn > span.mat-button-wrapper {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.avatar-btn > span.mat-button-wrapper > img {
  width: 56px;
  height: 56px;
}


.flex-hack {
  flex: 1 1 auto !important;
}

.site-content {
  @extend .flex-hack;
  margin-left: auto;
  margin-right: auto;
  max-width: $max-page-width;
  //padding: 3em;


}

.site-padding {
  @extend .site-content;
  margin-top: 3em; margin-bottom: 5em; padding-left: 3em; padding-right: 3em;
}

.site-padding-xs {
  @extend .site-content;
  margin-top: $xs-offset; margin-bottom: $xs-offset; padding-left: $xs-offset; padding-right: $xs-offset;
}

.site-content-padded {
  @extend .site-content;
  padding-top: 3em;
  padding-bottom: 3em;
}


mat-toolbar-row {
  @extend .site-content;
  max-width: calc(#{$max-page-width} + 25px);
  //padding-top:  0;
  //padding-bottom: 0;
  //padding-left: 0;
  //padding-right: 0;
}

//.header-content-small {
//  @extend .site-content;
//  padding-left: 0;
//  padding-right: 0;
//  padding-top:  0;
//
//}

//
//mat-toolbar-row-gt-sm {
//  @extend mat-toolbar-row;
//  margin-left: auto;
//  margin-right: auto;
//  max-width: $max-page-width;
//}


