@import 'scss/materialize';


header, main, footer {
  padding-left: 260px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.brand-logo img {
  height: 64px;
  padding: 15px;
}

.select-wrapper input
{
  height: 48px !important;
  margin-bottom: 0 !important;
  border-bottom: none !important;
}

.select-wrapper
{
  height: 48px !important;
}

.select-wrapper .caret
{
  color: white !important;
  top: 0 !important;
}

.secondary_nav .input-field
{
  width: 200px;
}

.secondary_nav .input-field:first-child
{
  margin-left: 25px !important;
  margin-right: 10px !important;
}

.secondary_nav .input-field:last-child
{
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.secondary_nav nav {
  height: 48px;
  line-height: 48px;
}

.secondary_nav nav .button-collapse i {
  height: 48px;
  line-height: 48px;
}

.waves-effect.waves-brown .waves-ripple {
  /* The alpha value allows the text and background color
  of the button to still show through. */
  background-color: rgba(0, 154, 199, 0.65);
}

#slide-out .active
{
  background-color: #e1e1e1 !important;
}

.product-details-title
{
  @extend .card-title;
  font-size: 30px !important;
  line-height: 30px !important;
}

.product-title
{
  @extend .card-title;
  display: block;
  font-size: 16px !important;
  line-height: 16px !important;
  font-weight: 400 !important;
  width: 160px !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}

.product-category
{
  @extend .card-title;
  font-size: 13px !important;
  line-height: 13px !important;
  white-space: nowrap !important;
  width: 160px !important;
  font-weight: 400 !important;
  text-overflow: ellipsis !important;
}

.info-title
{
  @extend .card-title;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.info-category
{
  @extend .card-title;
  font-size: 14px !important;
  text-transform: uppercase;
  font-weight: 400 !important;
}
