@import 'scss/materialize';

//@import '../node_modules/github-fork-ribbon-css/gh-fork-ribbon.css';


//header, main, footer {
//  padding-left: 260px;
//}
//
//@media only screen and (max-width : 992px) {
//  header, main, footer {
//    padding-left: 0;
//  }
//}

.promo i {
  margin: 40px 0;
  color: #00467f;
  font-size: 7rem;
  display: block;
}

.promo-caption {
  //line-height: 1.5;
  //font-family: "Roboto", sans-serif;
  //font-weight: normal;
  color: rgba(0,0,0,0.71);
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0;
}

.github-fork-ribbon.left-bottom:before
{
  background-color: #009ac7;
}

.github-fork-ribbon.left-bottom {
  box-sizing: unset;
}

.inset-content {
  padding-left: 260px;
}

@media only screen and (max-width : 992px) {
  .inset-content {
    padding-left: 0;
  }
}

.brand-logo img {
  height: 64px;
  padding: 15px;
}

.select-wrapper input
{
  height: 48px !important;
  margin-bottom: 0 !important;
  border-bottom: none !important;
}

.select-wrapper
{
  height: 48px !important;
}

.select-wrapper .caret
{
  color: white !important;
  top: 0 !important;
}

.secondary_nav .input-field
{
  width: 200px;
}

.secondary_nav .input-field:first-child
{
  margin-left: 25px !important;
  margin-right: 10px !important;
}

.secondary_nav .input-field
{
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.secondary_nav .input-field:last-child
{
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.secondary_nav nav {
  height: 48px;
  line-height: 48px;
}

.secondary_nav nav .button-collapse i {
  height: 48px;
  line-height: 48px;
}

.waves-effect.waves-brown .waves-ripple {
  /* The alpha value allows the text and background color
  of the button to still show through. */
  background-color: rgba(0, 154, 199, 0.65);
}

#slide-out .active
{
  background-color: #e1e1e1 !important;
}

.product-details-title
{
  @extend .card-title;
  font-size: 30px !important;
  line-height: 30px !important;
}

.product-title
{
  @extend .card-title;
  display: block;
  font-size: 16px !important;
  line-height: 16px !important;
  font-weight: 400 !important;
  width: 160px !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}

.product-category
{
  @extend .card-title;
  font-size: 13px !important;
  line-height: 13px !important;
  white-space: nowrap !important;
  width: 160px !important;
  font-weight: 400 !important;
  text-overflow: ellipsis !important;
}

.info-title
{
  @extend .card-title;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.info-category
{
  @extend .card-title;
  font-size: 14px !important;
  text-transform: uppercase;
  font-weight: 400 !important;
}

@media #{$small-and-down} {
  .home-banner
  {
    height: 300px;
  }

  .product-list
  {
    margin: 20px;
    min-width: 160px !important;
  }

  .home-description {
    margin-top: 350px;
  }

  .uoa-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.555rem;
    padding-right: 0.555rem;
    position: absolute;
    top: 350px;
  }

  .product-image
  {
    border-radius: 1px;
    min-width: 160px;
    min-height: 200px;
  }

  .product-detail
  {
    margin: 20px;
    min-width: 300px;
  }
}

@media #{$medium-and-up} {
  .home-banner
  {
    height: 300px;
  }

  .uoa-container {
    position: absolute;
    width: 100%;
    top: 180px;
  }

  .uoa-container div div
  {
    width: 300px;
    margin-right: 150px;
  }

  //.home-description {
  //  height: 50px;
  //}

  .home-description
  {
    margin-top: 150px;
  }

  .product-detail
  {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 800px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
  }

  .product-list
  {
    width: 800px;
    margin: 20px auto 20px auto;
    padding: 0 20px 0 20px;
  }
}

@media #{$medium-and-down} {
  .button-collapse
  {
    float: none !important;
    //display: none;
  }
}

@media #{$large-and-up} {
  .home-banner
  {
    height: 500px;
  }

  .uoa-container {
    position: absolute;
    width: 100%;
    top: 380px;
  }

  .uoa-container div div
  {
    width: 300px;
    margin-right: 200px !important;
  }

  //.home-description {
  //  height: 50px;
  //}

  .home-description
  {
    margin-top: 150px;
  }

  .product-list
  {
    width: 1400px;
    margin: 50px auto 50px auto;
    padding: 0 50px 0 50px;
  }
}

.product-list-title
{
  font-size: 28px;
  color: #333333;
  font-weight: 100;
  font-family: Roboto;
}

.uoa-brand-shape {
  position: relative;
  width: calc(100% - 108px);
  left: 54px;
  padding: 3em 0 2em;
  background-color: rgba(0, 70, 127, 0.9); }
.uoa-brand-shape:before, .uoa-brand-shape:after {
  content: "";
  position: absolute;
  width: 54px;
  height: 100%;
  background-size: 54px 1000px;
  z-index: 0; }
.uoa-brand-shape:before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgNTQgMTAwMCI+DQoJPHBvbHlnb24gZmlsbD0iIzAwNDY3ZiIgZmlsbC1vcGFjaXR5PSIwLjkiIHBvaW50cz0iMCA1NCA1NCAwIDU0IDEwMDAgMCAxMDAwIi8+DQo8L3N2Zz4NCg==");
  left: -54px;
  top: 0; }
.uoa-brand-shape:after {
  right: -54px;
  bottom: 0;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgNTQgMTAwMCI+DQoJPHBvbHlnb24gZmlsbD0iIzAwNDY3ZiIgZmlsbC1vcGFjaXR5PSIwLjkiIHBvaW50cz0iMCAwIDU0IDAgNTQgOTQ2IDAgMTAwMCIvPg0KPC9zdmc+DQo=");
  background-position: 100% 100%; }
.uoa-brand-shape__content {
  margin: 0 -27px;
  position: relative;
  z-index: 1; }
.uoa-brand-shape h1, .uoa-brand-shape p, .uoa-brand-shape h1 a:focus {
  color: #ffffff; }
.uoa-brand-shape__content :first-child {
  margin-top: 0; }

.uoa-brand-shape {
  position: relative;
  width: calc(100% - 108px);
  left: 54px;
  padding: 3em 0 2em;
  background-color: rgba(0, 70, 127, 0.9); }
.uoa-brand-shape:before, .uoa-brand-shape:after {
  content: "";
  position: absolute;
  width: 54px;
  height: 100%;
  background-size: 54px 1000px;
  z-index: 0; }
.uoa-brand-shape:before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgNTQgMTAwMCI+DQoJPHBvbHlnb24gZmlsbD0iIzAwNDY3ZiIgZmlsbC1vcGFjaXR5PSIwLjkiIHBvaW50cz0iMCA1NCA1NCAwIDU0IDEwMDAgMCAxMDAwIi8+DQo8L3N2Zz4NCg==");
  left: -54px;
  top: 0; }
.uoa-brand-shape:after {
  right: -54px;
  bottom: 0;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgNTQgMTAwMCI+DQoJPHBvbHlnb24gZmlsbD0iIzAwNDY3ZiIgZmlsbC1vcGFjaXR5PSIwLjkiIHBvaW50cz0iMCAwIDU0IDAgNTQgOTQ2IDAgMTAwMCIvPg0KPC9zdmc+DQo=");
  background-position: 100% 100%; }
.uoa-brand-shape__content {
  margin: 0 -27px;
  position: relative;
  z-index: 1; }
.uoa-brand-shape h1, .uoa-brand-shape p, .uoa-brand-shape h1 a:focus {
  color: #ffffff; }
.uoa-brand-shape__content :first-child {
  margin-top: 0; }

.uoa-flex-text-img {
  position: relative; }
.uoa-flex-text-img .btn {
  margin: 0.5em 0; }
.uoa-flex-text-img__tag {
  padding: .3em 1em;
  display: table-cell;
  left: 0;
  font-family: NationalBold, sans-serif; }
.uoa-flex-text-img__img-container {
  z-index: 1;
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25); }
@media (min-width: 48em) and (max-width: 61.99em) {
  .uoa-flex-text-img__img-container {
    box-shadow: 0 0 0 transparent; } }
.uoa-flex-text-img__img-container img {
  width: 100%;
  display: block; }
.uoa-flex-text-img__content {
  z-index: 2;
  position: relative;
  padding: 1em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25); }
.uoa-flex-text-img__content h2 {
  margin-bottom: .8em; }
.uoa-flex-text-img__content h2 a {
  color: #00467f; }
.uoa-flex-text-img--medium .uoa-flex-text-img__content {
  background: #0080a7;
  margin: -2em 5% 0; }
@media (min-width: 48em) and (max-width: 61.99em) {
  .uoa-flex-text-img--medium .uoa-flex-text-img__content {
    padding: 2rem; } }
@media (min-width: 75em) {
  .uoa-flex-text-img--medium .uoa-flex-text-img__content {
    padding: 2rem; } }
.uoa-flex-text-img--medium .uoa-flex-text-img__content h2 {
  font-size: 1.44rem; }
@media (min-width: 75em) {
  .uoa-flex-text-img--medium .uoa-flex-text-img__content h2 {
    font-size: 1.5625rem; } }
.uoa-flex-text-img--medium .uoa-flex-text-img__tag {
  color: #00467f;
  background: #ffffff;
  font-weight: bold;
  margin: 0 5%;
  bottom: 2em;
  position: absolute; }
@media (max-width: 61.99em) {
  .col-xs-12:first-child .uoa-flex-text-img--medium {
    margin-bottom: 2em; } }
@media (max-width: 61.99em) {
  .col-xs-12.col-lg-6 + .col-xs-12 .uoa-flex-text-img--medium {
    margin-top: 0; } }
@media (max-width: 61.99em) {
  .col-xs-12:last-child .uoa-flex-text-img--medium {
    margin-top: 2em; } }
.uoa-flex-text-img--medium h2 a {
  color: #ffffff; }
.uoa-flex-text-img--medium svg {
  display: none; }
.uoa-flex-text-img--medium p {
  color: #ffffff; }
.uoa-flex-text-img--small .uoa-flex-text-img__img-container {
  z-index: 1; }
@media (min-width: 75em) {
  .uoa-flex-text-img--small .uoa-flex-text-img__img-container img {
    width: 100%; } }
@media (max-width: 61.99em) {
  .uoa-flex-text-img--small .uoa-flex-text-img__img-container img {
    float: left;
    width: 33.33%;
    margin-right: 1rem; } }
@media (max-width: 47.99em) {
  .uoa-flex-text-img--small .uoa-flex-text-img__img-container img {
    padding-top: 2rem; } }
.uoa-flex-text-img--small .uoa-flex-text-img__tag {
  background: #00467f;
  color: #ffffff; }
@media (max-width: 47.99em) {
  .uoa-flex-text-img--small .uoa-flex-text-img__tag {
    position: absolute;
    top: 0; } }
@media (max-width: 61.99em) {
  .uoa-flex-text-img--small .uoa-flex-text-img__tag {
    display: inline;
    font-size: .75em;
    padding: .1em .7em .3em;
    vertical-align: top; } }
@media (min-width: 62em) {
  .uoa-flex-text-img--small .uoa-flex-text-img__tag {
    position: absolute;
    bottom: 0; } }
.uoa-flex-text-img--small .uoa-flex-text-img__content {
  z-index: 1; }
@media (min-width: 62em) {
  .uoa-flex-text-img--small .uoa-flex-text-img__content {
    background: #ffffff; } }
.uoa-flex-text-img--small .uoa-flex-text-img__content h2 {
  font-size: 1.2rem; }
@media (min-width: 75em) {
  .uoa-flex-text-img--small .uoa-flex-text-img__content h2 {
    font-size: 1.25rem; } }
@media (max-width: 47.99em) {
  .uoa-flex-text-img--small .uoa-flex-text-img__content h2 {
    margin: 1.7rem 0 0 0; } }
.uoa-flex-text-img--small .uoa-flex-text-img__content p {
  margin-bottom: .6em; }
@media (max-width: 33.99em) {
  .uoa-flex-text-img--small .uoa-flex-text-img__content p {
    clear: left;
    padding-top: .8rem; } }
@media (min-width: 34em) and (max-width: 61.99em) {
  .uoa-flex-text-img--small .uoa-flex-text-img__content p {
    padding-top: .8rem; } }
@media (min-width: 34em) and (max-width: 61.99em) {
  .uoa-flex-text-img--small .uoa-flex-text-img__content {
    margin-left: 33.33%;
    padding-top: .65rem; } }
@media (max-width: 33.99em) {
  .uoa-flex-text-img--small .uoa-flex-text-img__content {
    margin-left: 0;
    padding: 0 0 .65em; } }
@media (max-width: 61.99em) {
  .uoa-flex-text-img--small .uoa-flex-text-img__content {
    box-shadow: none; } }
@media (max-width: 47.99em) {
  .uoa-flex-text-img--small {
    margin-top: 1rem;
    border-top: 1px solid #00467f; } }
@media (min-width: 48em) and (max-width: 61.99em) {
  .uoa-flex-text-img--small {
    margin-top: 1rem;
    border-bottom: 1px solid #00467f; } }
.uoa-flex-text-img--small .btn {
  min-height: 0;
  height: auto;
  padding: 0;
  border-radius: 0;
  background: none; }
.uoa-flex-text-img--large .uoa-flex-text-img__tag {
  background: #0080a7;
  color: #ffffff; }
.uoa-flex-text-img--large .uoa-flex-text-img__content {
  background: #ffffff;
  padding: 2rem; }
.uoa-flex-text-img--large .uoa-flex-text-img__content h2 {
  font-size: 1.44rem; }
@media (min-width: 75em) {
  .uoa-flex-text-img--large .uoa-flex-text-img__content h2 {
    font-size: 1.5625rem; } }
.uoa-flex-text-img--large {
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow: hidden;
  position: relative;}
.uoa-flex-text-img--large img {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%); }
@media (max-width: 61.99em) {
  .uoa-flex-text-img--large img {
    display: none; } }
