@import 'themes';


html, body {
  margin: 0;
  padding: 0;
}

/*
 * Text styles
 */

html {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

p {
  color: white;
}

a {
  color: white;
}
