@import '~@angular/material/theming';

// https://material.angular.io/guide/typography

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$app-base-typography: mat-typography-config(
  $font-family: '"Noto Sans", sans-serif',
  $display-4:     mat-typography-level(112px, 112px, 300),
  $display-3:     mat-typography-level(56px, 56px, 400),
  $display-2:     mat-typography-level(45px, 48px, 400),
  $display-1:     mat-typography-level(34px, 40px, 400),
  $headline:      mat-typography-level(28px, 32px, 400), // <h1>
  $title:         mat-typography-level(28px, 32px, 500), // <h2>
  $subheading-2:  mat-typography-level(20px, 28px, 400), // <h3>
  $subheading-1:  mat-typography-level(15px, 24px, 400), // <h4>
  $body-2:        mat-typography-level(16px, 24px, 500), // bolder body text
  $body-1:        mat-typography-level(16px, 20px, 400), // base body text <p> ?
  $caption:       mat-typography-level(12px, 20px, 400), // smaller body and hint text
  $button:        mat-typography-level(14px, 14px, 500),
    // Line-height must be unit-less fraction of the font-size.
  $input:         mat-typography-level(16px, 1.125, 400)
);


$app-browse-grid-typography: mat-typography-config(
  $body-1:        mat-typography-level(20px, 20px, 400), // text
  $body-2:        mat-typography-level(36px, 24px, 500) // icon
);

$app-sidenav-list-typography: mat-typography-config(
  $body-1:        mat-typography-level(16px, 20px, 400), // text
  $body-2:        mat-typography-level(24px, 24px, 500) // icon
);

$app-sidenav-toolbar-typography: mat-typography-config(
  $body-1:      mat-typography-level(20px, 20px, 500), // text
  $button:        mat-typography-level(24px, 20px, 400) // icon
);

$app-search-bar-select-typography: mat-typography-config(
  $title:         mat-typography-level(14px, 20px, 500), // current selected text
  $body-1:      mat-typography-level(14px, 20px, 400) // option text
);

$app-search-bar-typography: mat-typography-config(
  $body-1:        mat-typography-level(24px, 24px, 500), // icon
  $input:         mat-typography-level(14px, 1.125, 400) // input
);

$app-primary-header-typography: mat-typography-config(
  $headline:      mat-typography-level(14px, 32px, 400)
);

$app-featured-md-card-typography: mat-typography-config(
  $body-1:      mat-typography-level(20px, 20px, 400), // text
  $button:        mat-typography-level(12px, 20px, 400) // icon
);

$app-result-list-typography: mat-typography-config(
  $body-1:      mat-typography-level(16px, 20px, 400), // text
  $subheading-2: mat-typography-level(20px, 20px, 400), // h3
  $subheading-1: mat-typography-level(28px, 20px, 400) // we use this for the section subheadings
);

$app-chips-typography: mat-typography-config(
  $button:      mat-typography-level(16px, 20px, 400) // text
);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($app-base-typography);
//@include mat-chips-typography($app-chips-typography);


$heading-1-font-color: map-get($hub-pink, 500);
$heading-2-font-color: map-get($hub-pink, 500);
$heading-3-font-color: map-get($hub-navy, 500);

$subheading-font-color: map-get($hub-pink, 500); // used in results list

$body-font-color:  black;
$body-link-color: map-get($hub-navy, 500);

$browse-tile-font-color: white;



