
$mat-toolbar-height-desktop: 64px !default;
$mat-toolbar-height-mobile-portrait: 56px !default;
$mat-toolbar-height-mobile-landscape: 48px !default;
$sidenav-width: 250px;


/*

  Display widths

  https://ux.stackexchange.com/questions/72855/responsive-website-ui-mockups-for-different-devices-and-screens

 */

$width-percentage: 90%;
$max-content-width: 1060px;

$max-page-width: 960px;

// Breakpoints

$xs-thresh-max: 599px;

$sm-thresh-min: 600px;
$sm-thresh-max: 959px;

$md-thresh-min: 960px;
$md-thresh-max: 1279px;

$lg-thresh-min: 1280px;
$lg-thresh-max: 1919px;

$xl-thresh-min: 1920px;

$xs-offset: 1em;
$gt-xs-offset: 2em;

$primary-header-height: 124px;
$primary-header-xs-height: 90px;

$footer-height: 7em;
$footer-xs-height: 10em;

.div-background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.max-p-width {
  max-width: $sm-thresh-max;
}

.component {
  margin: $gt-xs-offset;
  max-width: $xl-thresh-min;
}

.component-xs {
  @extend .component;
  margin: $xs-offset;
}

.search-results {
  margin: $gt-xs-offset;
}

.search-results-xs {
  margin: 0.5em 0 0 0;
  //margin-top: 0.5em;
}

.component-embedded {
  margin: 0;
}
