
.home-category-divider
{
  height: 350px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.home-category-divider * span.uoa-flex-text-img__tag
{
  font-size: 1.1rem;
}

.home-category-divider * div.uoa-flex-text-img__content
{
  min-height: 200px;
}

.home-category-divider * div.uoa-flex-text-img__content > h2
{
  color: #00467f;
  margin-top: 0;
  font-size: 1.8rem;
}

.home-category-divider * div.uoa-flex-text-img__content > p
{
  font-size: 1.1rem;
}
