<div id="main" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5%">
  <div id="main-left"  fxFlex="grow">
    <h2>Browse</h2>
    <div id="categories">
      <app-browse></app-browse>
      <!--<md-grid-list cols={{numCols}} rowHeight="2:1">
      <md-grid-tile *ngFor="let item of categoryItems">{{item}}</md-grid-tile>
      </md-grid-list>
    </div>-->
  </div>
  <div id="main-right"  fxFlex="grow" fxLayout="column">
     <div id="featured">
      <h2>Have you seen?</h2>
      <div id="featured-content" fxLayout="row" fxLayoutGap="5%">
        <div id="featured-content-left" fxFlex.xs="grow">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum, nibh nec varius magna nisl quis</p>
        </div>
        <div id="featured-content-right" fxFlex="nogrow">
          <md-card class="feature-card" class.xs="feature-card-xs">
            <img md-card-image src="https://static.planetminecraft.com/files/avatar/1939407_1.gif">
            <md-card-content>
              Figshare
            </md-card-content>
            <md-card-actions>
              <button md-button>Details</button>
              <button md-button>Launch</button>
            </md-card-actions>
          </md-card>
        </div>
      </div>
     </div>
    <div id="common-search">
      <a routerLink="/feedback" routerLinkActive="disabled">
      <h2>Give Us Your Feedback</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum, nibh nec varius magna nisl quis orci</p>
      </a>
    </div>
  </div>
</div>
