<div *ngIf="product" class="inset-content">
  <div class="card product-detail">
    <div class="card-content">
      <div class="row">
        <div class="col s4 m4 l4" style="padding-right: 20px;">
          <div class="card-image">
            <img style="border-radius: 25px;max-width: 180px;max-height: 180px;" src="http://lorempixel.com/160/200/technics">
          </div>
        </div>
        <div class="col s8 m8 l8">
          <div class="row">
            <div class="col l12">
              <span class="product-details-title">{{product.title}}</span>
            </div>
          </div>

          <div class="row">
            <!--<div *ngFor="let field_category of product.fields.field_category.und; let i=index" class="col l3">
            <a href="#">{{field_category[i].tid}}</a>
            </div>-->
       
    
            <div class="col l3">
              <a href="#">{{product.fields.field_category.und[0].tid}}</a>
            </div>

            <div class="col l6" style="text-align: right;line-height: 22px;">
              <a href="#">
                <i class="material-icons" style="font-size: 17px;line-height: inherit;">star</i>
                <i class="material-icons" style="font-size: 17px;line-height: inherit;">star</i>
                <i class="material-icons" style="font-size: 17px;line-height: inherit;">star</i>
                <i class="material-icons" style="font-size: 17px;line-height: inherit;">star</i>
                <i class="material-icons" style="font-size: 17px;line-height: inherit;">star_half</i>
                <span
                  style="display: inline-block; padding-left: 7px;line-height: inherit;position: relative; top: -2.5px;">50</span>
                <i class="material-icons" style="font-size: 17px;line-height: inherit;">person</i>
              </a>
            </div>
          </div>

          <div class="row" style="margin-top: 70px;">
            <div class="col l12" style="text-align: right;">
              <a class="waves-effect waves-brown btn" style="text-align: right;">Request</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="padding-top: 20px;">
        <div class="col l12">
          <p>{{product.body}}</p>
        </div>
      </div>
    </div>

    <div class="divider"></div>
    <div class="card-content">
      <div class="row" style="margin-bottom: 0;">
        <div class="col">
          <span class="info-category">Overview</span>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6 l6" style="margin-bottom: 15px;">
          <span class="info-title">Eligibility</span>
          <p>{{product.field_eligibility.und[0].value}}</p>
        </div>

        <div class="col s12 m6 l6" style="margin-bottom: 15px;">
          <span class="info-title">Requirements</span>
          <p>{{product.field_requirements.und.value}}</p>
        </div>

        <div class="col s12 m6 l6" style="margin-bottom: 15px;">
          <span class="info-title">Cost</span>
          <p>{{product.field_cost.und.value}}</p>
        </div>

        <div class="col s12 m6 l6" style="margin-bottom: 15px;">
          <span class="info-title">Support</span>
          <p><a href="#">Visit website</a></p>
          <p><a href="#">Email {{product.field_support.und.value}}</a></p>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="card-content">
      <div class="row" style="margin-bottom: 0;">
        <div class="col">
          <span class="info-category">Details</span>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6 l4" style="margin-bottom: 15px;">
          <span class="info-title">Features</span>
          <p>{{product.field_features.und.value}}</p>
        </div>

        <div class="col s12 m6 l4" style="margin-bottom: 15px;">
          <span class="info-title">Limitations</span>
          <p>{{product.field_cons.und.value}}</p>
        </div>

        <div class="col s12 m6 l4" style="margin-bottom: 15px;">
          <span class="info-title">Considerations</span>
          <p>{{product.field_considerations.und.value}}</p>
        </div>
          
        <div class="col s12 m6 l4" style="margin-bottom: 15px;">
          <span class="info-title">Contact Email</span>
          <p>{{product.field_contact_email.und.email}}</p>
        </div>
         
      </div>
    </div>

    <div class="divider"></div>

    <div class="card-content">
      <div class="row" style="margin-bottom: 0;">
        <div class="col">
          <span class="info-category">Reviews</span>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6 l6" style="margin-bottom: 15px;">
          <ul class="collection" style="border: none;">
            <li class="collection-item avatar">
              <img src="assets/roona.jpg" alt="" class="circle">
              <span class="title">Glenn Ervin</span>
              <p>On estimating. Side in so life past. Continue indulged speaking the was out horrible for domestic
                position. Seeing... </p>
            </li>
          </ul>
        </div>

        <div class="col s12 m6 l6" style="margin-bottom: 15px;">
          <ul class="collection" style="border: none;">
            <li class="collection-item avatar">
              <img src="assets/moona.jpg" alt="" class="circle">
              <span class="title">Valorie Wanamaker</span>
              <p>New had happen unable uneasy. Drawings can followed improved out sociable not. Earnestly so do instantly
                pretended... </p>
            </li>
          </ul>
        </div>

        <div class="col s12 m6 l6" style="margin-bottom: 15px;">
          <ul class="collection" style="border: none;">
            <li class="collection-item avatar">
              <img src="assets/yuna.jpg" alt="" class="circle">
              <span class="title">Dot Kidder</span>
              <p>See general few civilly amiable pleased account carried. Excellence projecting is devonshire
                dispatched... </p>
            </li>
          </ul>
        </div>

        <div class="col s12 m6 l6" style="margin-bottom: 15px;">
          <ul class="collection" style="border: none;">
            <li class="collection-item avatar">
              <img src="assets/una.jpg" alt="" class="circle">
              <span class="title">Al Eugene</span>
              <p>Rather her you not esteem men settle genius excuse. Deal say over you age from. Comparison new ham
                melancholy son...</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>