<ng-container *ngIf="content">
  <app-header [title]="content.name"
              [imageUrl]="apiService.getAssetUrl('page-elements/483_Pacific_28Sep10_1680x220_BW.jpg')"></app-header>

  <div class="component" class.xs="component-xs" fxLayout="column" fxLayoutGap="1em">
    <md-card class="description">
      <app-markdown [data]="content.description"></app-markdown>
    </md-card>

    <md-grid-list [cols]="numCols" gutterSize="1em">
      <md-grid-tile class="browse-tile" *ngFor="let item of content.guideCategories; let i = index;" [colspan]="1" [rowspan]="1" [routerLink]="getGuideCategoryRouterLink(item.id)">
        <div fxLayout="column" fxLayoutAlign="center center" class="tile-content">
          <span class="tile-text">{{item.name}}</span>
          <md-icon class="mdi mdi-{{item.icon}} tile-icon "></md-icon>
        </div>
      </md-grid-tile>
    </md-grid-list>

    <md-card>
      <app-markdown [data]="content.additionalInfo"></app-markdown>
    </md-card>
  </div>
</ng-container>
