@import "../../styles";

.component{
  max-width:$max-content-width;
}

.browse-tile {
  cursor: pointer;
  background-color: $guide-tile-bg-color;
  text-decoration: none;
}

/* Put your CSS code in the left column, instead of example, to put or remove unnecessary prefixes. */


.tile-content{
  text-align: center;
  min-width:100%;
  min-height: 100%;
}


.tile-text {
  color:$browse-tile-font-color;
  width:80%;
  transform: translate(0%, -50%);
  @include mat-typography-level-to-styles($app-browse-grid-typography, body-1);
}

.tile-icon {

  color:$browse-tile-font-color;
  font-size: mat-font-size($app-browse-grid-typography, body-2);
  font-weight: mat-font-weight($app-browse-grid-typography, body-2);
  width:100%;
  position:absolute;
  bottom:20%;

}
