<span style="color: rgba(0,0,0,0.54);padding-bottom: 0.3em;font-size: 12px;display: block;">Research activity</span>
<mat-button-toggle-group class="ra-mat-toggle-theme" vertical="true" multiple style="width: 100%;">
  <mat-button-toggle *ngFor="let activity of researchActivities"
                    [value]="activity"
                    (change)="activity.selected = !activity.selected; updateValue();"
                    [checked]="activity.selected"
                    [ngClass]="activity.className">
    <!--<mat-icon>{{activity.icon}}</mat-icon>-->
    <mat-icon [ngClass]="['mdi', activity.icon]"></mat-icon>
    <span class="activity-name">{{activity.name}}</span>
  </mat-button-toggle>

</mat-button-toggle-group>
